<div>
    <form nz-form nzLayout="vertical" [formGroup]="employeeForm">
        <div class="row">
            <div class="col-md-6">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="name" class="fw-semibold">Name</nz-form-label>
                    <nz-form-control>
                    <input nz-input formControlName="name" id="name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="join_data" class="fw-semibold">Join Date</nz-form-label>
                <nz-form-control>
                    <nz-date-picker class="w-100" formControlName="join_date" id="join_date" nzPlaceHolder="pick a date"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <ng-container *ngIf="empContract$ | async as emp; else loadingEmp">
                <nz-form-item>
                  <nz-form-label nzFor="employee_contract_id" nzRequired>Employee Contract</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="employee_contract_id"
                      formControlName="employee_contract_id"
                      nzPlaceHolder="Select Contract"
                    >
  
                      <nz-option class="text-capitalize" *ngFor="let r of emp.data" [nzValue]="r.id" [nzLabel]="r.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-template #loadingEmp>
                <nz-form-item>
                  <nz-form-label nzFor="employee_contract_id" nzRequired>Employee Contract</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="employee_contract_id"
                      formControlName="employee_contract_id"
                      nzPlaceHolder="Loading..."
                      nzDisabled
                    >
                      <nz-option nzValue="" nzLabel="...loading"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>             
              </ng-template>
            </div>
            <div class="col-md-6">
              <ng-container *ngIf="divisionList$ | async as div; else loadingDiv">
                <nz-form-item>
                  <nz-form-label nzFor="division_id" nzRequired>Division</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="division_id"
                      formControlName="division_id"
                      nzPlaceHolder="Select Division"
                    >
  
                      <nz-option class="text-capitalize" *ngFor="let r of div.data" [nzValue]="r.id" [nzLabel]="r.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-template #loadingDiv>
                <nz-form-item>
                  <nz-form-label nzFor="division_id" nzRequired>Select Division</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="division_id"
                      formControlName="division_id"
                      nzPlaceHolder="Loading..."
                      nzDisabled
                    >
                      <nz-option nzValue="" nzLabel="...loading"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>             
              </ng-template>
            </div>
            <div class="col-md-6">
              <ng-container *ngIf="roleList.length > 0; else loadingRoleList">
                <nz-form-item>
                  <nz-form-label nzRequired class="fw-semibold" nzFor="role_id" nzRequired>Role</nz-form-label>
                  <nz-form-control>
                      <nz-select  nzShowSearch nzPlaceHolder="Select Role" formControlName="role_id">
                      <ng-container *ngFor="let r of roleList">
                        <nz-option [nzLabel]="r.title" [nzValue]="r.id"></nz-option>
                      </ng-container>
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-template #loadingRoleList>
                <nz-form-item>
                  <nz-form-label nzRequired class="fw-semibold" nzFor="role_id" nzRequired>Role</nz-form-label>
                  <nz-form-control>
                      <nz-select nzDisabled nzPlaceHolder="Select division first" formControlName="role_id">
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-template>
            </div>
            <div class="col-md-6">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="email" class="fw-semibold">Email</nz-form-label>
                    <nz-form-control>
                    <input nz-input formControlName="email" id="email"  />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="nik" class="fw-semibold">NIK</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="nik" id="nik"  />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="phone" class="fw-semibold">Phone</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="phone" id="phone"  />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="address" class="fw-semibold">Address</nz-form-label>
                <nz-form-control>
                  <nz-textarea-count [nzMaxCharacterCount]="200">
                    <textarea rows="4" formControlName="address" nz-input></textarea>
                  </nz-textarea-count>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="status" nzRequired>Status</nz-form-label>
              <nz-form-control>
                <nz-switch nzSize="default" id="status" formControlName="status" nzCheckedChildren="active" nzUnCheckedChildren="inactive"></nz-switch>
              </nz-form-control>
          </nz-form-item>
        </div>
    </form>
</div>

<div *nzModalFooter>
  <nz-form-item>
    <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
    <ng-container *ngIf="!isLoadingEmpContract && !isLoadingDivision; else Loading">
      <button 
      nz-button 
      nzType="primary" 
      class="text-capitalize" 
      (click)="submitForm()">
        {{ modal_type }} Employee
      </button>
    </ng-container>
    <ng-template #Loading>
      <nz-spin class="ms-2">
        <button 
        nz-button 
        nzType="primary" 
        class="text-capitalize">
          {{ modal_type }} Employee
        </button>
      </nz-spin>
    </ng-template>
  </nz-form-item>
</div>