<div>
    <p class="m-0 p-0 fw-bold">
        Role Name
    </p>
    <p class="m-0 p-0 text-capitalize">
        administrator
    </p>
</div>

<div class="mt-2">
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Access Rights">
            <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
                <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
                  <nz-tree-node-option class="text-capitalize">
                    {{ node.name }}
                  </nz-tree-node-option>
                </nz-tree-node>
          
                <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
                  <nz-tree-node-toggle>
                    <span
                      nz-icon
                      [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"
                      nzTheme="twotone"
                    ></span>
                    
                  </nz-tree-node-toggle>
                  <nz-tree-node-option class="text-capitalize fw-semibold">
                    {{ node.name }}
                  </nz-tree-node-option>
                </nz-tree-node>
              </nz-tree-view>
        </nz-tab>
        <nz-tab nzTitle="Assigned Employee">
          <ng-container *ngIf="employee$ | async as employee; else tableLoading">
            <div class="d-flex flex-column align-items-start gap-1">
              <p class="fw-bold m-0 p-0">
                List Assigned Employee
              </p>
              <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
                  <input [(ngModel)]="searchEmp"  (ngModelChange)="searchEmpHandler($event)" type="text" nz-input placeholder="search employee" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                  <span nz-icon nzType="search"></span>
              </ng-template>
            </div>
            
            <nz-table 
              #basicTable 
              nzBordered 
              [nzData]="employee.data" 
              nzSize="small" 
              class="mt-3"
              nzShowPagination
              [nzFrontPagination]="false"
              [nzTotal]="totalAll"
              [nzPageSize]="pageSize"
              [nzPageIndex]="currentPage"
              (nzPageIndexChange)="pageIndexChange($event)"
            >
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Status</th>
                  </tr>
              </thead>
              
              <tbody>
                  <tr *ngFor="let data of basicTable.data">
                      <td>{{data.name}}</td>
                      <td>
                          <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Assign' : 'Unassigned' }}</nz-tag>
                      </td>
                  </tr>
              </tbody>
            </nz-table>
          </ng-container>
          <ng-template #tableLoading>
            <nz-table #basicTable nzBordered>
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </nz-table>
          </ng-template>
        </nz-tab>
    </nz-tabset>
</div>
