<div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="fw-bold">Data Inventories</h4>
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
        <input [(ngModel)]="search" (ngModelChange)="searchHandler($event)" type="text" nz-input placeholder="Search Inventory" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
</div>
<div class="d-flex align-items-center justify-content-between mb-3">
    <span class="fw-light">Result of {{ totalInventories}} Inventories</span>
    <div class="d-flex">
        <div class="me-2">
            Rows per page: 
            <nz-select [(ngModel)]="pageSize" (ngModelChange)="getInventory()">
                <nz-option nzLabel="5" [nzValue]="5"></nz-option>
                <nz-option nzLabel="10" [nzValue]="10"></nz-option>
                </nz-select>
        </div>
        <button (click)="refreshTable()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
        <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
        <button  nzSize="default" nz-button nzType="primary" (click)="showModalAdd()">Add New Inventory</button>
    </div>
</div>
<ng-container *ngIf="inventory$ | async as cust; else loading">
    <nz-table 
        #basicTable 
        [nzData]="cust.data"         
        nzShowPagination
        [nzFrontPagination]="false"
        nzBordered
        [nzTotal]="totalAll"
        [nzPageSize]="pageSize"
        [nzPageIndex]="currentPage"
        (nzPageIndexChange)="pageIndexChange($event)"
    >
        <thead>
          <tr>
            <th>Part Number</th>
            <th>Product Category</th>
            <th>Product Sub-Category</th>
            <th>Product Description</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Buying Price</th>
            <th>Selling Price</th>
            <th>Gross Margin</th>
            <th>Qty</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.code }}</td>
              <td>{{ data.supplier_product.name }}</td>
              <td>{{ data.sub_category.name }}</td>
              <td>{{ data.description }}</td>
              <td>{{ data.manufacturer.name }}</td>
              <td>
                <ng-container *ngFor="let invent of data.inventory_items; last as isLast">{{ invent.supplier.name }}<span *ngIf="!isLast">, </span></ng-container>
              </td>
              <td>{{ data.default_product_cost_2 | currency:'Rp. ':'symbol':'1.0-0'}}</td>
              <td>{{ data.default_selling_price | currency:'Rp. ':'symbol':'1.0-0' }}</td>
              <td>{{ data.default_gross_margin }} % </td>
              <td>{{ data.total_qty }}</td>
              <td>
                <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
              </td>
            <td>
                <div class="d-flex gap-3">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" style="text-decoration: none;" >
                      <div class="d-flex align-items-center">
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                        <p class="m-0 p-0">More</p>                       
                      </div>

                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu class="dropdown-wrapper">
                        <li (click)="showModalDetail(data)" nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="eye" nzTheme="twotone"></span>
                          <p class="m-0 p-0">Detail</p>
                        </li>
                        <li nz-menu-item class="gap-2 list-dropdown" (click)="showModalEdit(data)">
                          <span nz-icon nzType="edit" nzTheme="twotone"></span>
                          <p class="m-0 p-0">Edit</p>
                        </li>
                        <li (click)="showModalDuplicate(data)" nz-menu-item class="gap-2 list-dropdown">
                            <span nz-icon nzType="copy" nzTheme="twotone" ></span>
                            <p class="m-0 p-0">Duplicate</p>                
                        </li>
                        <li (click)="showModalDelete(data.id)" nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#f50'"></span>
                          <p class="m-0 p-0" style="color: #f50;">Delete</p>                
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </div>
            </td>
            </tr>
        </tbody>
      </nz-table>
</ng-container>

<ng-template #loading>
    <nz-table #basicTable nzBordered [nzLoading]="true">
        <thead>
          <tr>
            <th>Part Number</th>
            <th>Product Category</th>
            <th>Product Sub-Category</th>
            <th>Product Description</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Buying Price</th>
            <th>Selling Price</th>
            <th>Qty</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </nz-table>
</ng-template>


<!-- filter modal -->
<nz-modal nzCentered [(nzVisible)]="isVisibleFilter" [nzTitle]="'Filter Inventory'" (nzOnCancel)="handleCancelFilter()">
    <ng-container *nzModalContent>
        <form nz-form nzLayout="vertical" [formGroup]="filterForm">

            <nz-form-item>
                <nz-form-label nzFor="supplier_product">Product Category</nz-form-label>
                <nz-form-control>
                    <ng-container *ngIf="productCat$ | async as prod; else loadProdCatFilter">
                        <nz-select
                            id="supplier_product"
                            formControlName="supplier_product"
                            nzPlaceHolder="Select Product Category"
                        >
                            <nz-option *ngFor="let p of prod.data" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
                        </nz-select>
                    </ng-container>
                    <ng-template #loadProdCatFilter>
                        <nz-select
                            id="supplier_product"
                            formControlName="supplier_product"
                            nzPlaceHolder="loading"
                            nzDisabled
                        >
                        </nz-select>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- <nz-form-item>
                <nz-form-label nzFor="supplier_source">Source</nz-form-label>
                <nz-form-control>
                  <ng-container *ngIf="source$ | async as source; else sourceLoad">
                    <nz-select nzShowSearch nzPlaceHolder="Select Source" formControlName="supplier_source">
                      <ng-container *ngFor="let s of source.data">
                        <nz-option [nzLabel]="s.name" [nzValue]="s.id"></nz-option>
                      </ng-container>
                    </nz-select>
                  </ng-container>
                  <ng-template #sourceLoad>
                    <nz-select nzDisabled nzPlaceHolder="loading" formControlName="supplier_source">
                    </nz-select>
                  </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="supplier">Supplier</nz-form-label>
                <nz-form-control>
                  <ng-container *ngIf="supplier$ | async as supplier; else suppLoad">
                    <nz-select nzShowSearch nzPlaceHolder="Select Supplier" formControlName="supplier">
                      <ng-container *ngFor="let supp of supplier.data">
                        <nz-option [nzLabel]="supp.name" [nzValue]="supp.id"></nz-option>
                      </ng-container>
                    </nz-select>
                  </ng-container>
                  <ng-template #suppLoad>
                    <nz-select nzDisabled nzPlaceHolder="Select Source First" formControlName="supplier">
                    </nz-select>
                  </ng-template>
                </nz-form-control>
            </nz-form-item> -->




            <nz-form-item>
                <nz-form-label nzFor="status">Status</nz-form-label>
                <nz-form-control>
                  <nz-select
                    id="status"
                    formControlName="status"
                    nzPlaceHolder="Select Role"
                  >
                    <nz-option nzValue="" nzLabel="All"></nz-option>
                    <nz-option [nzValue]="1" nzLabel="Active"></nz-option>
                    <nz-option [nzValue]="0" nzLabel="Inactive"></nz-option>
                  </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="sort_by">Sort by</nz-form-label>
                <nz-form-control>
                    <nz-radio-group id="sort_by" formControlName="sort_by">
                        <label nz-radio nzValue="asc">ASC</label>
                        <label nz-radio nzValue="desc">DESC</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancelFilter()">Cancel</button>
        <button nz-button nzType="primary" class="text-capitalize" (click)="submitFilter()">Filter Inventory</button>        
    </ng-container>
</nz-modal>

<!-- detail modal -->
<nz-modal nzCentered nzWidth="900px" [(nzVisible)]="isVisibleDetail" [nzTitle]="'Detail Inventory'" (nzOnCancel)="handleCancelDetail()">
  <ng-container *nzModalContent>
    <div class="d-flex flex-column gap-2">  

      <div class="mt-3">
        <a [href]="dataDetail.attachment.file_url" target="_blank" rel="noopener noreferrer">
            <nz-avatar [nzSize]="100" [nzSrc]="dataDetail.attachment.file_url" class="mb-3"></nz-avatar>
        </a>
      </div>

      <nz-tabset>
        <nz-tab nzTitle="Basic Information">
          <div class="row">
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Product Category</p>
              <p class="fw-light">{{ dataDetail.supplier_product.name }}</p>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Product Sub Category</p>
              <p class="fw-light">{{ dataDetail.sub_category.name }}</p>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Description</p>
              <p class="fw-light">{{ dataDetail.description }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Inventory Code</p>
                <p class="fw-light text-capitalize">{{ dataDetail.code }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Unit of Measurement</p>
                <p *ngIf="dataDetail.unit.unit; else noUnit" class="fw-light text-capitalize">{{ dataDetail.unit.measurement }} <sup>{{ dataDetail.unit.unit }}</sup> </p>
                <ng-template #noUnit>
                  <p class="fw-light text-capitalize">{{ dataDetail.unit.measurement }}</p>                
                </ng-template>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Unit of Report</p>
              <div *ngIf="dataDetail.unit_report">
                <p class="m-0 p-0">{{ dataDetail.unit_report.name }}</p>
              </div>
              <div *ngIf="dataDetail.unit_report === null">
                <p *ngIf="dataDetail.unit.unit; else noUnit" class="fw-light text-capitalize">{{ dataDetail.unit.measurement }} <sup>{{ dataDetail.unit.unit }}</sup> </p>
                <ng-template #noUnit>
                  <p class="fw-light text-capitalize">{{ dataDetail.unit.measurement }}</p>                
                </ng-template>
              </div>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Price List</p>
              <p class="fw-light text-capitalize">{{ dataDetail.price_list | currency:'Rp. ':'symbol':'1.0-0' }}</p>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Tax</p>
              <p class="fw-light text-capitalize">{{ dataDetail.tax }} % </p>
            </div>
            <div class="col-md-4">
              <p class="m-0 p-0 fw-semibold">Quantity</p>
              <p class="fw-light text-capitalize">{{ dataDetail.total_qty }}</p>
          </div>
        </div>
    
        <div>
            <p class="m-0 p-0 fw-semibold">Status</p>
            <nz-tag [nzColor]="dataDetail.status === 1 ? '#1DA32C' : '#f50'">{{ dataDetail.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
        </div>
        </nz-tab>
        <nz-tab nzTitle="Supplier">
          <ng-container *ngFor="let item of dataDetail.inventory_items; let isFirst = first">
            <nz-divider *ngIf="!isFirst "></nz-divider>
            <div class="row">
              <div class="col-12">
                <p class="m-0 p-0 fw-semibold">Supplier Name</p>
                <p class="fw-light">{{ item.supplier.nib }}</p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Product Cost 1</p>
                <p class="fw-light">{{ item.product_cost_1| currency:'Rp. ':'symbol':'1.0-0' }}</p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Discount 1</p>
                <p *ngIf="item.discount_type_1 === 'price'" class="fw-light">{{ item.discount_1 | currency:'Rp. ':'symbol':'1.0-0' }} </p>
                <p *ngIf="item.discount_type_1 === 'percent'" class="fw-light">{{ item.discount_1 }} % </p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Product Cost 2</p>
                <p class="fw-light">{{ item.product_cost_2 | currency:'Rp. ':'symbol':'1.0-0' }}</p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Discount 2</p>
                <p *ngIf="item.discount_type_2 === 'price'" class="fw-light">{{ item.discount_2 | currency:'Rp. ':'symbol':'1.0-0' }} </p>
                <p *ngIf="item.discount_type_2 === 'percent'" class="fw-light">{{ item.discount_2 }} % </p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Selling Price</p>
                <p class="fw-light">{{ item.selling_price | currency:'Rp. ':'symbol':'1.0-0' }}</p>
              </div>

              <div class="col-md-6">
                <p class="m-0 p-0 fw-semibold">Gross Margin</p>
                <p class="fw-light">{{ item.gross_margin }} %</p>
              </div>

              <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Default Supplier</p>
                <p class="fw-light">{{ item.is_default ? 'Yes' : 'No' }} </p>
              </div>

            </div>
          </ng-container>
        </nz-tab>
      </nz-tabset>

    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelDetail()">Cancel</button>
    <button nz-button nzType="primary" class="text-capitalize" (click)="handleCancelDetail()">Ok</button>
  </ng-container>
</nz-modal>


<!-- delete modal -->
<nz-modal class="delete-modal" nzCentered [(nzVisible)]="isVisibleDelete" nzTitle="Delete Category" (nzOnCancel)="handleCancelDelete()">
    <ng-container *nzModalContent>
        <!-- <app-delete-categories-modal></app-delete-categories-modal> -->
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button nzType="default" nzDanger (click)="handleCancelDelete()">Cancel</button>
        <button nz-button nzType="primary" nzDanger (click)="handleSubmitDelete()">Delete Category</button>
    </ng-container>
</nz-modal>