.container {
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
}

.add-item {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.filter-icon{
    font-size: 16px;
    line-height: 0;
}

.list-dropdown{
    padding: 10px 24px;
}

::ng-deep {

        
    // .ant-modal-header{
    //     display: none;
    // }

    .ant-modal-body{
        padding-bottom: 12px;
    }

    .ant-result{
        padding: 0;
    }

    .ant-result-icon{
        margin-bottom: 0;

        i{
            font-size: 60px;
        }
    }

    .ant-result-title{
        font-size: 20px;
    }
    

    .ant-modal-footer{
        border-top: 2px solid #f0f0f0 !important;
    }

    .ant-modal-body{
        max-height: 80vh;
        overflow-y: auto;
    }

    .ant-switch-checked{
        .ant-switch-inner{
            margin: -3px 27px 0px 12px;
        }
    } 

    .ant-switch-inner{
        margin: -3px 7px 0 25px;
    }

    .ant-divider-horizontal.ant-divider-with-text::before, 
    .ant-divider-horizontal.ant-divider-with-text::after{
        border-top: 3px solid transparent;
        border-top-color: inherit;
    }

    .ant-divider-horizontal.ant-divider-with-text{
        font-size: 14px;
    }

    .delete-modal{
        .ant-modal-header{
            display: none;
        }
    
        .ant-modal-body{
            padding-bottom: 12px;
        }
    
        .ant-result{
            padding: 0;
        }
    
        .ant-result-icon{
            margin-bottom: 0;
    
            i{
                font-size: 60px;
            }
        }
    
        .ant-result-title{
            font-size: 20px;
        }        
    }

}