<div class="d-flex flex-column gap-2">
    <div>
        <div>
            <p class="m-0 p-0 fw-semibold">Current Revision</p>
            <p class="fw-light">{{ revisionSelected }}</p>       
        </div>
    </div>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Basic Information">
            <div>
                <p class="m-0 p-0 fw-semibold">Quotation No.</p>
                <p class="fw-light">{{ data.quotation_no }}</p>       
            </div>
            <div>
                <p class="m-0 p-0 fw-semibold">Newest Revision</p>
                <p class="fw-light">{{data.latest_quotation_revision.revision}}</p>      
            </div>
            <div>
                <p class="m-0 p-0 fw-semibold">Project ID</p>
                <p class="fw-light">{{ data.project.project_pid }}</p>
            </div>
            <div>
                <p class="m-0 p-0 fw-semibold">Project Name</p>
                <p class="fw-light">{{ data.project.name }}</p>
            </div>
            <div>
                <p class="m-0 p-0 fw-semibold">Project Location</p>
                <p class="fw-light">{{ projectLocation }}</p>   
            </div>
            <!-- <div>
                <p class="m-0 p-0 fw-semibold">Project File</p>
                <a [href]="dataDetail.project_document.file_url" target="_blank" rel="noopener noreferrer">
                    <p class="fw-light">{{dataDetail.project_document.file_name}}</p>
                </a>
            </div> -->
            <div>
                <p class="m-0 p-0 fw-semibold">Date</p>
                <p class="fw-light">{{ data.issued_date | date: 'fullDate' }}</p>
            </div>
            <nz-divider></nz-divider>

            <div class="row">
                <div class="col-4">
                    <p class="m-0 p-0 fw-semibold">Engineer PIC</p>
                    <p class="fw-light">
                        <ng-container *ngFor="let dce of data.project.dce_pic; let isLast = last">
                            {{ dce.name }} <span *ngIf="!isLast"> ,</span>
                        </ng-container>
                    </p>   
                </div>

                <div class="col-4">
                    <p class="m-0 p-0 fw-semibold">Head Engineer PIC</p>
                    <p class="fw-light">
                        <ng-container *ngFor="let dce of data.project.dce_pic">
                            <ng-container *ngIf="dce.is_pic_internal === 1">
                                {{ dce.name }}
                            </ng-container>
                        </ng-container>
                    </p>
                </div>

                <div class="col-4">
                    <p class="m-0 p-0 fw-semibold">Engineer Phone No.</p>
                    <p class="fw-light">
                        <ng-container *ngFor="let dce of data.project.dce_pic">
                            <ng-container *ngIf="dce.is_pic_internal === 1">
                                {{ dce.phone }}
                            </ng-container>
                        </ng-container>
                    </p>
                </div>
            </div>

            <nz-divider></nz-divider>

            <div>
                <p class="m-0 p-0 fw-semibold">Customer</p>
                <p class="fw-light">{{ data.customer.name }}</p>
            </div>
            <div>
                <p class="m-0 p-0 fw-semibold">Customer Location</p>
                <p class="fw-light">{{ customerLocation }}</p>
            </div>

            <h6 class="fw-bold">Contact Person</h6>
            <div class="row">
                <ng-container *ngFor="let cp of data.customer.contactPerson">
                    <div class="col-6">
                        <p class="m-0 p-0 fw-semibold">Role</p>
                        <p class="fw-light">{{ cp.customer_category.name }}</p>
                    </div>

                    <div class="col-6">
                        <p class="m-0 p-0 fw-semibold">Name</p>
                        <p class="fw-light">{{ cp.name }}</p>
                    </div>
                </ng-container>
            </div>
        </nz-tab>
        <nz-tab nzTitle="Stacks">
            <div class="table-responsive">
                <table class="table table-striped table-order table-purchase">
                    <thead style="position: unset;">
                        <tr>
                            <th scope="col" style="width: 8%;">Stack Name</th>
                            <th scope="col">Detail</th>
                            <th scope="col">Used for Total Quotation</th>
                            <th scope="col">Active</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let stack of dataDetail.quotation_stack">
                            <td>{{ stack.name }}</td>
                            <td>
                                <button (click)="openStackDetail(stack)" nz-button nzType="default">Open Detail</button>
                            </td>
                            <td>
                                <label nz-checkbox nzDisabled  [(ngModel)]="stack.is_used_for_quotation"></label>
                            </td>
                            <td>
                                <label nz-checkbox nzDisabled  [(ngModel)]="stack.is_active"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="row">
                <ng-container *ngFor="let s of dataDetail.quotation_stack">
                    <div class="col-6">
                        <p class="m-0 p-0 fw-semibold">Stack Name</p>
                        <p class="fw-light">{{ s.name }}</p>                         
                    </div>
                    <div class="col-6">
                        <p class="m-0 p-0 fw-semibold">Stack File</p>
                        <a [href]="s.stack_file.file_url" target="_blank" rel="noopener noreferrer">
                            <p class="fw-light">{{s.stack_file.file_name}}</p>
                        </a>                       
                    </div>
                </ng-container>
            </div> -->
        </nz-tab>
        <ng-container *ngFor="let detail of  dataDetail.quotation_revision">
            <ng-container *ngIf="detail.revision === revisionSelected">
                <nz-tab *ngIf="detail.quotation_items.length > 0" nzTitle="Quotation">
                    <nz-tabset [nzAnimated]="false">
                        <nz-tab nzTitle="Material">
                            <div class="table-responsive">
                                <table class="table table-order table-purchase">
                                    <thead style="position: unset;">
                                        <tr>
                                            <th scope="col">Part Number</th>
                                            <th scope="col">Product Description</th>
                                            <th scope="col">Alias</th>
                                            <th scope="col">DN</th>
                                            <th scope="col">DN</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Total Cost</th>
                                            <th scope="col">Gross Margin</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let category of productCategory">
                                            <tr>
                                                <td class="table-secondary fw-bold" colspan="11">
                                                    {{ category.name }}
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let item of detail.quotation_items">
                                                <tr *ngIf="item.inventory.supplier_product.id === category.id">
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.code }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.description }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.alias }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.dn_1 }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.dn_2 }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.qty }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.unit.name }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">Rp. {{ item.inventory.default_selling_price | number: '1.0-0'}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">% {{ item.discount }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">Rp. {{ item.total_price_per_product_after_discount | number: '1.0-0' }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">% {{ item.inventory.default_gross_margin }}</p>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </ng-container>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="fw-bold">Total Grand Cost:</span>
                                            </td>
                                            <td>
                                                <span class="fw-bold"> Rp.  {{ detail.total_price | number:'1.0-0' }}</span>
                                            </td>
                                            <td></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Installation">
                            <ng-container *ngFor="let category of productCategory">
                                <div class="table-responsive">
                                    <table class="table table-order table-installation">
                                        <thead style="position: unset;">
                                            <tr class="table-active">
                                                <th scope="col" colSpan="8">{{ category.name }}</th>
                                            </tr>
                                            <tr class="table-active">
                                                <th scope="col">Part Number</th>
                                                <th scope="col">Product Description</th>
                                                <th scope="col">Inch</th>
                                                <th scope="col">
                                                    {{ category.name.toLowerCase() === 'pipe' ? 'Cost/M\'' : 'Cost/Unit'  }}
                                                </th>
                                                <th scope="col">
                                                    {{ category.name.toLowerCase() === 'pipe' ? 'Cost M\'/inch' : 'Cost Unit/Inch'  }}
                                                </th>
                                                <th scope="col">Price Factor</th>
                                                <th scope="col">Selling Price</th>
                                                <th scope="col">Gross Margin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let item of detail.quotation_items">
                                                <tr *ngIf="item.inventory.supplier_product.id === category.id">
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.code }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.description }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">
                                                            {{ item.inventory.installation.price_type === 'percent'
                                                                ? '-'
                                                                : item.inventory.installation.unit_inch_qty 
                                                            }}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">
                                                            {{ item.inventory.installation.price_type === 'percent' 
                                                                ? item.inventory.installation.price + ' %'
                                                                : ('Rp. ' + (item.inventory.installation.price | number:'1.0-0'))
                                                            }}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">Rp. {{ item.inventory.installation.price_per_unit  | number:'1.0-0' }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.installation.price_factor }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">Rp. {{ item.inventory.installation.selling_price  | number:'1.0-0' }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0 p-0 fw-light">{{ item.inventory.installation.gross_margin }} %</p>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>

                        </nz-tab>
                        <nz-tab nzTitle="Total">
                            <div class="table-responsive">
                                <table class="table table-order table-purchase">
                                    <thead style="position: unset;">
                                        <tr>
                                            <th scope="col">Part Number</th>
                                            <th scope="col">Product Description</th>
                                            <th scope="col">Alias</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Total Cost</th>
                                            <th scope="col">Gross Margin</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-secondary">
                                            <td colspan="9">
                                                <span class="fw-bold" style="font-size: 16px;">
                                                    Material
                                                </span>
                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let category of productCategory">
                                            <tr>
                                                <td>
                                                    <span class="fw-bold">{{category.name}}</span>
                                                </td>
                                                <td colspan="8">
                                                    <span class="fw-bold">
                                                        Rp. {{ calculateTotalPerCat(category.id) | number:'1.0-0' }}
                                                    </span>
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let item of detail.quotation_items">
                                                <ng-container *ngIf="item.inventory.supplier_product.id === category.id">
                                                    <tr>
                                                        <td>
                                                            <span class="fw-bold">
                                                                {{ item.inventory.code }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.description }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.alias }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.qty }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.unit.name }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                Rp. {{ item.inventory.default_selling_price | number:'1.0-0'}}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">% {{ item.discount }}</p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">Rp. {{ item.total_price_per_product_after_discount | number: '1.0-0' }}</p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.default_gross_margin }} %
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>

                                        </ng-container>

                                        <tr class="table-secondary">
                                            <td colspan="9">
                                                <span class="fw-bold" style="font-size: 16px;">
                                                    Material Installation
                                                </span>
                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let category of productCategory">
                                            <tr>
                                                <td colspan="9">
                                                    <span class="fw-bold">{{category.name}}</span>
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let item of detail.quotation_items">
                                                <ng-container *ngIf="item.inventory.supplier_product.id === category.id">
                                                    <tr>
                                                        <td>
                                                            <span class="fw-bold">
                                                                {{ item.inventory.code }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.description }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 p-0 fw-light">
                                                                {{ item.inventory.alias }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                        <td>
                                                            -
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>

                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </nz-tab>
            </ng-container>

        </ng-container>
>
        <nz-tab nzTitle="Revision Log">
            <div>
                <nz-table #basicTable [nzData]="dataDetail.quotation_log" nzBordered>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Date</th>
                        <th>Revision</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data" >
                          <td>{{ data.name }}</td>
                          <td>{{ data.revision }}</td>
                          <td>{{ data.date }}</td>
                          <td>{{ data.message }}</td>
                        </tr>
                    </tbody>
                  </nz-table>
            </div>
        </nz-tab>
    </nz-tabset>

</div>

    
