<div class="d-flex flex-column gap-2">
    <nz-avatar [nzSize]="64" nzText="K" class="custom-avatar mb-3"></nz-avatar>
    <ng-container *ngFor="let data of data.pic; let i = index">
        <div class="row mt-3">
            <div class="col">
                <p class="m-0 p-0 fw-bold">PIC SFM {{ i + 1 }}</p>
            </div>
            <div  class="row">
                <div class="col-md-4">
                    <p class="m-0 p-0 fw-semibold">Name</p>
                    <p class="fw-light text-capitalize">{{ data.name }}</p>
                </div>
    
                <div class="col-md-4">
                    <p class="m-0 p-0 fw-semibold">Head of PIC</p>
                    <nz-tag [nzColor]="data.is_pic_internal === 1 ? '#1DA32C' : '#f50'">{{ data.is_pic_internal  === 1 ? 'Yes' : 'No' }}</nz-tag>
                </div>
            </div>

        </div>
    </ng-container>

    <nz-divider></nz-divider>

    <div class="row">
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Company Name</p>
            <p class="fw-light text-capitalize">{{ data.name }}</p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Type</p>
            <p class="fw-light text-capitalize">{{ data.type }}</p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Email</p>
            <p class="fw-light">{{ data.email }}</p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">NIB</p>
            <p class="fw-light">{{ data.nib }}</p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Phone</p>
            <p class="fw-light text-capitalize">{{ data.phone }}</p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Address</p>
            <p class="fw-light text-capitalize"><a [href]="data.maps_url" target="_blank" rel="noopener noreferrer">{{ data.address }}</a></p>
        </div>
        <div class="col-md-4">
            <p class="m-0 p-0 fw-semibold">Website</p>
            <p class="fw-light"><a [href]="data.website" target="_blank" rel="noopener noreferrer">{{ data.website }}</a></p>
        </div>
    </div>

    <div>
        <p class="m-0 p-0 fw-semibold">Status</p>
        <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
    </div>

    <nz-divider></nz-divider>

    <ng-container *ngFor="let contact of data.contactPerson; let i = index">
        <div class="row mt-3">
            <div class="col">
                <p class="m-0 p-0 fw-bold">Contact Person {{ i + 1 }}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Name</p>
                <p class="fw-light text-capitalize">{{ contact.name }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Email</p>
                <p class="fw-light">{{ contact.email }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">NIK</p>
                <p class="fw-light text-capitalize">{{ contact.nik }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Phone</p>
                <p class="fw-light text-capitalize">{{ contact.phone }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Address</p>
                <p class="fw-light">{{ contact.address }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">Category</p>
                <p class="fw-light">{{ contact.customer_category.name }}</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 p-0 fw-semibold">PIC Company</p>
                <nz-tag [nzColor]="contact.is_pic_company === 1 ? '#1DA32C' : '#f50'">{{ contact.is_pic_company  === 1 ? 'Yes' : 'No' }}</nz-tag>
            </div>
        </div>
    </ng-container>


</div>
