<nz-layout>
    <nz-header>
      <ul nz-menu nzMode="horizontal" class="shadow-sm border-0 px-4">
        <li nz-menu-item class="logo">
            <img 
                class="img-fluid py-2"
                src="/assets/images/company-logo.png"
                width="48"
                height="48"
                routerLink="/dashboard"
            />
        </li>
        <li nz-menu-item *ngFor="let nav of navigation" [routerLink]="'/'+nav.path" routerLinkActive="ant-menu-item-selected">
            <p class="p-0 m-0 fw-bold text-uppercase">{{ nav.title }}</p>
        </li>
        <li class="ms-auto float-end" >
            <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nz-icon nzType="user" nzTheme="outline" style="font-size: 24px;"></span>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="logoutHandler()" style="color: #f5222d">
                        <span nz-icon nzType="logout" nzTheme="outline" class="me-2"></span>
                        Logout
                    </li>
                </ul>
              </nz-dropdown-menu>
        </li>
      </ul>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>