<nz-table 
    #basicTable 
    nzBordered 
    [nzData]="listOfDataRoles"
    nzShowPagination
    [nzFrontPagination]="false"
    [nzTotal]="totalAll"
    [nzPageSize]="pageSize"
    [nzPageIndex]="currentPage"
    (nzPageIndexChange)="pageIndexChange($event)"
>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{data.title}}</td>
            <td>
                <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Active' : 'Inactive' }}</nz-tag>
            </td>
            <td>
                <div class="d-flex gap-3">
                    <span *ngIf="authSvc.hasAction('detail_role')" (click)="detailHandler(data)"  nz-icon nzType="eye" nzTheme="twotone"></span>
                    <span *ngIf="authSvc.hasAction('edit_role')" (click)="updateHandler(data)" nz-icon nzType="edit" nzTheme="twotone"></span>
                    <span *ngIf="authSvc.hasAction('delete_role')" (click)="deleteHandler(data)" nz-icon nzType="delete" nzTheme="twotone"></span>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>