.highlight {
    background-color: yellow !important;
  }

  .highlight-red {
    background-color: red !important; /* Light red */
  }
  
  .highlight-green {
    background-color: green !important; /* Light green */
  }