.highlight {
    background-color: yellow !important;
  }

  .highlight-red {
    background-color: #DE7C7D !important; /* Light red */
  }
  
  .highlight-green {
    background-color: #80AF81 !important; /* Light green */
  }