<div>
    <div class="mb-2">
      <nz-form-label nzRequired nzFor="roleName" class="fw-bold">Role Name</nz-form-label>
      <nz-form-control>
        <input nz-input id="roleName" [(ngModel)]="roleName" />
      </nz-form-control>
    </div>
    <div class="mb-4">
      <nz-form-label nzFor="status" nzRequired class="fw-bold">Status</nz-form-label>
      <nz-form-control>
        <nz-switch nzSize="default" id="status" [(ngModel)]="status" nzCheckedChildren="active" nzUnCheckedChildren="inactive"></nz-switch>
      </nz-form-control>
    </div>

    <nz-tabset>
      <nz-tab nzTitle="Action">
        <p class="fw-bold m-0 p-0">
          Access Rights
        </p>
        
        <ng-container *ngFor="let access of newAccessRights; let accessIndex = index">
          <div nz-row>
            <ng-container *ngIf="access.nav_section.length > 0; else noCollapse">
              <nz-collapse class="collapse-role" nzGhost>
                <nz-collapse-panel class="text-capitalize" [nzHeader]="access.nav_name" [nzActive]="access.nav_section.length > 0" [nzExtra]="extraCheckbox">
                  <ng-template #extraCheckbox>
                    <label 
                      nz-checkbox 
                      [(ngModel)]="access.selected"
                      (ngModelChange)="access.selected === false && resetChildSelections(access)"
                    ></label>
                  </ng-template>
        
                  <nz-collapse nzGhost>
                    <ng-container *ngFor="let section of access.nav_section; let sectionIndex = index">
                      <div style="padding-left: 24px;padding-right: 24px;">
                        <!-- Check if section_action is empty, render nz-tag -->
                        <ng-container *ngIf="section.section_action.length > 0; else emptySectionTag">
                          <nz-collapse-panel class="section-panel text-capitalize mb-3" [nzHeader]="section.section_name" [nzActive]="section.section_action.length > 0" [nzExtra]="extraCheckbox">
                            <ng-template #extraCheckbox>
                              <label 
                                nz-checkbox 
                                [(ngModel)]="section.selected" 
                                [disabled]="!access.selected"
                                (ngModelChange)="section.selected === false && resetSectionActions(section)"
                              ></label>
                            </ng-template>
        
                            <div class="px-2">
                              <div class="row">
                                <div class="col-4" *ngFor="let action of section.section_action; let actionIndex = index">
                                  <nz-tag
                                    [nzColor]="action.selected ? 'blue' : 'default'"
                                    (click)="!(!section.selected || !access.selected) && toggleAction(action)"
                                    class="action-tag w-100"
                                    [ngClass]="!section.selected || !access.selected ? 'disabled-tag' : 'active-tag'"
                                  >
                                    {{ action.name }}
                                  </nz-tag>
                                </div>
                              </div>
                            </div>
                          </nz-collapse-panel>
                        </ng-container>
        
                        <!-- Display horizontally aligned nz-tag if section_action is empty -->
                        <ng-template #emptySectionTag>
                          <div *ngIf="sectionIndex === 0" class="px-2">
                            <div class="row">
                              <div class="col-4" *ngFor="let sectionWithoutActions of access.nav_section" [hidden]="sectionWithoutActions.section_action.length > 0">
                                <nz-tag 
                                  [nzColor]="sectionWithoutActions.selected ? 'blue' : 'default'"
                                  class="action-tag w-100"
                                  (click)="access.selected && sectionWithoutActions.selected = !sectionWithoutActions.selected"
                                  [ngClass]="!access.selected ? 'disabled-tag' : 'active-tag'"
                                >
                                  {{ sectionWithoutActions.section_name }}
                                </nz-tag>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </ng-container>
                  </nz-collapse>
                </nz-collapse-panel>
              </nz-collapse>
            </ng-container>
        
            <ng-template #noCollapse>
              <label class="custom-checkbox px-3 my-4">
                <span class="checkbox-text text-capitalize">{{ access.nav_name }}</span>
                <label 
                  nz-checkbox
                  [(ngModel)]="access.selected"
                  (ngModelChange)="access.selected === false && resetChildSelections(access)"
                ></label>
              </label>
            </ng-template>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab *ngIf="modal_type === 'edit'" nzTitle="User">
        <ng-container *ngIf="employee$ | async as employee; else tableLoading">
          <div class="d-flex flex-column align-items-start gap-1">
            <p class="fw-bold m-0 p-0">
              Assign to Employee
            </p>
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
                <input [(ngModel)]="searchEmp"  (ngModelChange)="searchEmpHandler($event)" type="text" nz-input placeholder="search employee" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
          </div>
          
          <nz-table 
            #basicTable 
            nzBordered 
            [nzData]="employee.data" 
            nzSize="small" 
            class="mt-3"
            nzShowPagination
            [nzFrontPagination]="false"
            [nzTotal]="totalAll"
            [nzPageSize]="pageSize"
            [nzPageIndex]="currentPage"
            (nzPageIndexChange)="pageIndexChange($event)"
          >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.name}}</td>
                    <td>
                        <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Assign' : 'Unassigned' }}</nz-tag>
                    </td>
                    <td>
                      <button [disabled]="data.status === 1 ? true : false" nzSize="small" nz-button nzType="primary" class="text-capitalize" (click)="assignEmp(data)">
                        Assign
                      </button>
                    </td>
                </tr>
            </tbody>
          </nz-table>
        </ng-container>
        <ng-template #tableLoading>
          <nz-table #basicTable nzBordered>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </nz-table>
        </ng-template>
      </nz-tab>
    </nz-tabset>



</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
    <button nz-button nzType="primary" class="text-capitalize"  (click)="submitForm()">{{ modal_type }} Roles</button>
</div>