<div>
    <form nz-form nzLayout="vertical" [formGroup]="filterCustForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzFor="type">Type</nz-form-label>
            <nz-form-control>
              <nz-select
                id="type"
                formControlName="type"
              >
                <nz-option nzValue="company" nzLabel="Company"></nz-option>
                <nz-option nzValue="person" nzLabel="Person"></nz-option>
                <nz-option nzValue=""  nzLabel="All Type"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="status">Status</nz-form-label>
            <nz-form-control>
              <nz-select
                id="status"
                formControlName="status"
              >
                <nz-option nzValue="" nzLabel="All Status" ></nz-option>
                <nz-option [nzValue]="1" nzLabel="Active"></nz-option>
                <nz-option [nzValue]="0" nzLabel="Inactive"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="sort_by">Sort by</nz-form-label>
            <nz-form-control >
                <nz-radio-group id="sort_by" formControlName="sort_by" >
                    <label nz-radio nzValue="asc">ASC</label>
                    <label nz-radio nzValue="desc">DESC</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>


<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm()">Search Customer</button>
</div>