<div class="user-wrapper">
    <div class="row">
        <nz-radio-group [(ngModel)]="user_type" (ngModelChange)="tabChange($event)">
            <label nz-radio-button nzValue="employee"><span>Employee</span></label>
            <label nz-radio-button nzValue="customer"><span>Customer</span></label>
            <label nz-radio-button nzValue="supplier"><span>Supplier</span></label>
        </nz-radio-group>
    </div>
    <div class="row mt-5">
        <ng-container *ngIf="user_type === 'employee'">
            <ng-container *ngIf="employees$ | async as employee; else employeeLoading">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Employee</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input [(ngModel)]="searchEmp"  (ngModelChange)="searchEmpHandler($event)" type="text" nz-input placeholder="search employee" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="fw-light">Result of {{ totalEmployee }} Employees</span>
                    <div class="row">
                        <div class="text-end">
                            <button (click)="refreshTableEmp()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
                            <button  (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" (click)="showAddModal()">Add New Employee</button>
                        </div>
                    </div>
                </div>
                <app-table-user 
                    [user_type]="user_type" 
                    [listOfDataEmp]="employee.data"
                    [totalAllEmployee]="totalAllEmployee"
                    [pageSizeEmployee]="pageSizeEmployee"
                    [currentPageEmployee]="currentPageEmployee"
                    (showUpdateModal)="showUpdateModal()" 
                    (showDetailModal)="showDetailModal()"
                    (showDeleteModal)="showDeleteModal()"
                    (onPageIndexChangeEmp)="onPageIndexChangeEmp($event)"
                ></app-table-user>
            </ng-container>
            <ng-template #employeeLoading >
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Employee</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input disabled type="text" nz-input placeholder="search customer" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <p class="placeholder-glow" style="width: 500px;">
                        <span class="placeholder col-4"></span>
                    </p>
                    <div class="row">
                        <div class="text-end">
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="reload"></span></button>
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" disabled>Add New Employee</button>
                        </div>
                    </div>
                </div>
                <nz-table #basicTable nzBordered>
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>NIK</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </nz-table>
            </ng-template>
        </ng-container>
    
        <ng-container *ngIf="user_type === 'customer'">
            <ng-container *ngIf="customers$ | async as customers; else customerLoading">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Customer</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input [(ngModel)]="searchCust"  (ngModelChange)="searchCustHandler($event)"  type="text" nz-input placeholder="search customer" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="fw-light">Result of {{ totalCustomer }} customers</span>
                    <div class="row">
                        <div class="text-end">
                            <button (click)="refreshTableCust()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
                            <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" (click)="showAddModal()">Add New Customer</button>
                        </div>
                    </div>
                </div>
                <app-table-user 
                    [user_type]="user_type" 
                    [listofDataCust]="customers.data"
                    (onPageIndexChangeCust)="onPageIndexChangeCust($event)"
                    (showUpdateModalCust)="showUpdateModalCust($event)" 
                    (showDeleteModalCust)="showDeleteModalCust($event)"
                    (showDetailModalCust)="showDetailModalCust($event)"
                    [totalAllCustomer]="totalAllCustomer"
                    [pageSizeCustomer]="pageSizeCustomer"
                    [currentPageCustomer]="currentPageCustomer"
                ></app-table-user>
            </ng-container>
            <ng-template #customerLoading>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Customer</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input disabled type="text" nz-input placeholder="search customer" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <p class="placeholder-glow" style="width: 500px;">
                        <span class="placeholder col-4"></span>
                    </p>
                    <div class="row">
                        <div class="text-end">
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="reload"></span></button>
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" disabled>Add New Customer</button>
                        </div>
                    </div>
                </div>
                <nz-table #basicTable nzBordered>
                    <thead>
                        <tr>
                            <th>CUST ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Website</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>PIC SFM</th>
                            <th>PIC Customer</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </nz-table>
            </ng-template>
        </ng-container>
    
        <ng-container *ngIf="user_type === 'supplier'">
            <ng-container *ngIf="suppliers$ | async as suppliers; else supplierLoading">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Supplier</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input [(ngModel)]="searchSupp"  (ngModelChange)="searchSuppHandler($event)"  type="text" nz-input placeholder="search supplier" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="fw-light">Result of {{ totalSupplier }} suppliers</span>
                    <div class="row">
                        <div class="text-end">
                            <button (click)="refreshTableSupp()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
                            <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" (click)="showAddModal()">Add New Supplier</button>
                        </div>
                    </div>
                </div>
                <app-table-user 
                    [user_type]="user_type" 
                    [listofDataSupp]="suppliers.data"
                    [totalAllSupplier]="totalAllSupplier"
                    [pageSizeSupplier]="pageSizeSupplier"
                    [currentPageSupplier]="currentPageSupplier"
                    (onPageIndexChangeSupp)="onPageindexChangeSupp($event)"
                    (showUpdateModalSupp)="showUpdateModalSupp($event)" 
                    (showDetailModalSupp)="showDetailModalSupp($event)"
                    (showDeleteModalSupp)="showDeleteModalSupp($event)"
                ></app-table-user>
            </ng-container>
            <ng-template #supplierLoading>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="fw-bold">Data Supplier</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
                        <input disabled type="text" nz-input placeholder="search supplier" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <p class="placeholder-glow" style="width: 500px;">
                        <span class="placeholder col-4"></span>
                    </p>
                    <div class="row">
                        <div class="text-end">
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="reload"></span></button>
                            <button class="me-2 filter-icon" nz-button nzType="default" nzSize="default" disabled><span nz-icon nzType="filter"></span></button>
                            <button nzSize="default" nz-button nzType="primary" disabled>Add New Supplier</button>
                        </div>
                    </div>
                </div>
                <nz-table #basicTable nzBordered>
                    <thead>
                        <tr>
                            <th>SUPP ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>PIC SFM</th>
                            <th>PIC Customer</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </nz-table>
            </ng-template>
        </ng-container>
    </div>

</div>
