<nz-layout class="inner-layout">
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li class="fw-bold" *ngFor="let cat of navCategory" nz-submenu nzOpen [nzTitle]="cat.name">
            <ul>
                <li 
                    class="fw-normal"
                    *ngFor="let cat_sub of cat.sub_menu" 
                    nz-menu-item [nzSelected]="cat_sub.slug === navCategoryActive"
                    (click)="navCategoryActive = cat_sub.slug"
                > 
                    {{ cat_sub.name }} 
                </li>
            </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content class="inner-content">
        <ng-container *ngIf="navCategoryActive === 'loyal_customer'">
            <app-loyal-customer></app-loyal-customer>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'customer_sector'">
            <app-customer-sector></app-customer-sector>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'customer_firm'">
            <app-customer-firm></app-customer-firm>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'supplier_product'">
            <app-supplier-product></app-supplier-product>
        </ng-container>
        <!-- <ng-container *ngIf="navCategoryActive === 'supplier_source'">
            <app-supplier-source></app-supplier-source>
        </ng-container> -->
        <ng-container *ngIf="navCategoryActive === 'contact_type'">
            <app-contact-type></app-contact-type>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'employee_contract'">
            <app-employee-contract></app-employee-contract>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'uom'">
            <app-unit-of-measurement></app-unit-of-measurement>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'uop'">
            <app-unit-of-reports></app-unit-of-reports>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'warehouse_address'">
            <app-warehouse-address></app-warehouse-address>
        </ng-container>
        <ng-container *ngIf="navCategoryActive === 'billing_address'">
            <app-billing-address></app-billing-address>
        </ng-container>
    </nz-content>
</nz-layout>
