<div class="d-flex flex-column gap-2">
    <!-- <nz-avatar [nzSize]="64" nzText="K" class="custom-avatar mb-3"></nz-avatar> -->
    <div>
        <p class="m-0 p-0 fw-semibold">Name</p>
        <p class="fw-light">{{ data.name }}</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Role</p>
        <p class="fw-light">{{ data.user.role.title }}</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Email</p>
        <p class="fw-light">{{ data.email }}</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">NIK</p>
        <p class="fw-light">{{ data.nik }}</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Address</p>
        <p class="fw-light">{{ data.address }}</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Status</p>
        <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
    </div>
</div>

    
