<div>
    <form nz-form nzLayout="vertical" [formGroup]="form">
        <nz-form-item class="mb-4">
            <nz-form-label nzRequired nzFor="name" class="fw-semibold">Name</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="name" id="name" />
            </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="type === 'uom'">
            <nz-form-item class="mb-4">
                <nz-form-label nzRequired nzFor="measurement" class="fw-semibold">Measurement</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="measurement" id="measurement" />
                </nz-form-control>
            </nz-form-item>    
            <nz-form-item class="mb-4">
                <nz-form-label nzFor="unit" class="fw-semibold">Unit</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="unit" id="unit" />
                </nz-form-control>
            </nz-form-item>    
            <nz-form-item class="mb-4">
                <div class="d-flex gap-3">
                    <p class="m-0 p-0 fw-semibold">Code: </p>
                    <p class="m-0 p-0">{{form.get('measurement')?.value}} <sup>{{form.get('unit')?.value}}</sup> </p>
                </div>
            </nz-form-item>            
        </ng-container>
        <nz-form-item class="mb-4">
            <nz-form-label nzRequired nzFor="description" class="fw-semibold">Description</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="description" id="description" />
            </nz-form-control>
        </nz-form-item>
    </form>
</div>