<div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="fw-bold">Project List</h4>
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
        <input [(ngModel)]="search" (ngModelChange)="searchHandler($event)" type="text" nz-input placeholder="Search Purchase Order" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
</div>
<div class="d-flex align-items-center justify-content-between mb-3">
    <span class="fw-light">Result of {{ total }} Projects</span>
    <div class="d-flex">
        <div class="me-2">
            Rows per page: 
            <nz-select [(ngModel)]="pageSize" (ngModelChange)="getProject()">
                <nz-option nzLabel="5" [nzValue]="5"></nz-option>
                <nz-option nzLabel="10" [nzValue]="10"></nz-option>
                </nz-select>
        </div>
        <button (click)="refreshTable()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
        <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
        <button  nzSize="default" nz-button nzType="primary" (click)="showModalAdd()">Add Projects</button>
    </div>
</div>
<ng-container *ngIf="project$ | async as project; else loading">
    <nz-table 
        #basicTable 
        [nzData]="project.data"         
        [nzShowPagination]="true" 
        nzBordered
        [nzTotal]="totalAll"
        [nzPageSize]="pageSize"
        [nzPageIndex]="currentPage"
        (nzPageIndexChange)="pageIndexChange($event)"
    >
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Desc</th>
            <th>Customer</th>
            <th>PIC SFM</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
             <td>{{ data.project_pid }}</td>
             <td>{{ data.description }}</td>
             <td>{{ data.customer.name }}</td>
             <td>
              <ng-container *ngFor="let pic of data.pic; last as isLast">{{ pic.name }}<span *ngIf="!isLast">, </span></ng-container>
             </td>
              <td>
                <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
              </td>
              <td>
                <nz-progress [nzPercent]="data.progress"></nz-progress>
              </td>
              <td>
                  <div class="d-flex gap-3">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="text-decoration: none;" >
                      <div class="d-flex align-items-center">
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                        <p class="m-0 p-0">More</p>                       
                      </div>

                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu class="dropdown-wrapper">
                        <!-- <li nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="eye" nzTheme="twotone"></span>
                          <p class="m-0 p-0">Detail</p>
                        </li> -->
                        <li nz-menu-item class="gap-2 list-dropdown" (click)="showModalEdit(data)">
                          <span nz-icon nzType="edit" nzTheme="twotone"></span>
                          <p class="m-0 p-0">Edit</p>
                        </li>
                        <!-- <li (click)="showModalDuplicate(data)" nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="copy" nzTheme="twotone" ></span>
                          <p class="m-0 p-0">Duplicate</p>                
                        </li> -->
                        <!-- <li (click)="showModalDelete(data.id)" nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#f50'"></span>
                          <p class="m-0 p-0" style="color: #f50;">Delete</p>                
                        </li> -->
                      </ul>
                    </nz-dropdown-menu>
                  </div>
              </td>
            </tr>
        </tbody>
      </nz-table>
</ng-container>

<ng-template #loading>
    <nz-table 
      #basicTable 
      nzBordered 
      [nzLoading]="true"
    >
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Desc</th>
            <th>Supplier Name</th>
            <th>Customer</th>
            <th>PIC SFM</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </nz-table>
</ng-template>
