<nz-segmented class="option" [nzOptions]="options" [(ngModel)]="selectedOptIndex"></nz-segmented>

<ng-container *ngIf="selectedOptIndex === 0">
    <div class="d-flex align-items-center justify-content-between my-4">
      <h4 class="fw-bold">Project List</h4>
      <!-- <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
          <input [(ngModel)]="search" (ngModelChange)="searchHandler($event)" type="text" nz-input placeholder="Search Projects" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
      </ng-template> -->
  </div>
  <div class="d-flex align-items-center justify-content-between mb-3">
      <span class="fw-light">Result of {{ total }} Projects</span>
      <div class="d-flex">
          <div class="me-2">
              Rows per page: 
              <nz-select [(ngModel)]="pageSize" (ngModelChange)="pageSizeChange($event)">
                  <nz-option nzLabel="5" [nzValue]="5"></nz-option>
                  <nz-option nzLabel="10" [nzValue]="10"></nz-option>
                  </nz-select>
          </div>
          <button (click)="refreshTable()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
          <!-- <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button> -->
          <button (click)="showColumn()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="setting"></span></button>
          <button  nzSize="default" nz-button nzType="primary" (click)="showModalAdd()">Add Projects</button>
      </div>
  </div>

  <ng-container *ngIf="project$ | async as project; else loading">
    <nz-table
        #filterTable
        [nzData]="filteredData"
        [nzShowPagination]="true" 
        nzBordered
        [nzTableLayout]="'fixed'"
        [nzScroll]="{ x: '100vw' }"
        [nzTotal]="totalAll"
        [nzPageSize]="pageSize"
        [nzPageIndex]="currentPage"
        (nzPageIndexChange)="pageIndexChange($event)"
    >
        <thead>
          <tr>
            <ng-container *ngFor="let col of columns">
              <ng-container *ngIf="columnUnfilter.includes(col.name)">
                <th 
                nzWidth="200px" 
                *ngIf="col.visible"
                [nzSortOrder]="col.sortOrder"
                [nzSortFn]="col.sortFn"
                [nzSortDirections]="col.sortDirections"
                nzCustomFilter
                >
                {{ col.name }}
                <nz-filter-trigger [(nzVisible)]="col.searchVisible" [nzActive]="col.searchValue.length > 0" [nzDropdownMenu]="menu">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                <!-- search filter table -->
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <div class="ant-table-filter-dropdown">
                    <div class="search-box">
                      <div class="d-flex flex-column gap-2">
                        <nz-date-picker *ngIf="col.name === 'Issue Date'; else inputText" nzInline [(ngModel)]="col.searchValue"></nz-date-picker>
                        <ng-template #inputText>
                          <input type="text" nz-input placeholder="Search {{ col.name }}" [(ngModel)]="col.searchValue" />
                        </ng-template>
                        <div class="d-flex align-items-center">
                          <button nz-button nzSize="small" nzType="primary" (click)="searchColumn(col)" class="search-button">Search</button>
                          <button nz-button nzSize="small" (click)="resetColumn(col)">Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </nz-dropdown-menu>
                </th>
              </ng-container>
              <ng-container *ngIf="!columnUnfilter.includes(col.name)">
                <th 
                nzWidth="200px" 
                *ngIf="col.visible"
                [nzSortOrder]="col.sortOrder"
                [nzSortFn]="col.sortFn"
                [nzSortDirections]="col.sortDirections"
                [nzFilterMultiple]="col.filterMultiple"
                [nzFilters]="col.listOfFilter"
                [nzFilterFn]="col.filterFn"
                >{{ col.name }}</th>
              </ng-container>

            </ng-container>
            <th nzWidth="200px" nzRight>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of filterTable.data">
              <td  *ngIf="columns[0].visible">{{ data.project_pid }}</td>
              <td *ngIf="columns[1].visible">{{ data.name }}</td>
              <td *ngIf="columns[2].visible">{{ getTextCatByValue(data.project_category )}}</td>
              <td *ngIf="columns[3]">
                <a [href]="data.maps_url" target="_blank" rel="noopener noreferrer">{{ data.address }}</a>
              </td>
              <td *ngIf="columns[4].visible">{{ data.issue_date | date: 'fullDate' }}</td>
              <td *ngIf="columns[5].visible">{{ data.cluster.name }}</td>
              <td *ngIf="columns[6].visible">{{ data.segmentation.name }}</td>
              <td *ngIf="columns[7].visible">{{ data.remarks === 'siphonic_system' ? 'Siphonic System' : 'Fastflow'}}</td>
              <td *ngIf="columns[8].visible">{{ findRoleContactPerson('owner', data.customer.contactPerson) }}</td>
              <td *ngIf="columns[9].visible">{{ findRoleContactPerson('architect', data.customer.contactPerson) }}</td>
              <td *ngIf="columns[10].visible">{{ findRoleContactPerson('contractor', data.customer.contactPerson) }}</td>
              <td *ngIf="columns[11].visible">{{ findRoleContactPerson('mep consultant', data.customer.contactPerson) }}</td>
              <td *ngIf="columns[12].visible">
                <ng-container *ngFor="let s of data.specification; last as isLast">
                  {{ s.specification === 'siphonic_system' ? 'Siphonic System' : 'Gravity System'}} <span *ngIf="!isLast">, </span>
                </ng-container>
              </td>
              <td *ngIf="columns[13].visible">
                <ng-container *ngFor="let m of data.material; last as isLast">
                  {{ m.material.name}} <span *ngIf="!isLast">, </span>
                </ng-container>
              </td>
              <td *ngIf="columns[14].visible">{{ data.competitor }}</td>
              <td *ngIf="columns[15].visible">
                <ng-container *ngFor="let pic of data.pic; last as isLast">
                  {{ pic.name }} <span *ngIf="!isLast">, </span>
                </ng-container>
              </td>
              <td *ngIf="columns[16].visible">
                <ng-container *ngFor="let pic of data.dce_pic; last as isLast">
                  {{ pic.name }} <span *ngIf="!isLast">, </span>
                </ng-container>
              </td>
              <td *ngIf="columns[17].visible">{{ data.year }}</td>
              <td *ngIf="columns[18].visible">{{ data.month }}</td>
              <td *ngIf="columns[19].visible">-</td>
              <td nzRight>
                  <div class="d-flex gap-3">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="text-decoration: none;" >
                      <div class="d-flex align-items-center">
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                        <p class="m-0 p-0">More</p>                       
                      </div>

                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu class="dropdown-wrapper" style="width: 120px;">
                        <!-- <li nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="eye" nzTheme="twotone"></span>
                          <p class="m-0 p-0">Detail</p>
                        </li> -->
                        <li nz-menu-item class="gap-2 list-dropdown" (click)="showModalEdit(data)">
                          <div class="d-flex gap-2">
                            <span nz-icon nzType="edit" nzTheme="twotone"></span>
                            <p class="m-0 p-0">Edit</p>
                          </div>
                        </li>
                        <li (click)="showModalDuplicate(data)" nz-menu-item class="gap-2 list-dropdown">
                          <div class="d-flex gap-2">
                            <span nz-icon nzType="copy" nzTheme="twotone" ></span>
                            <p class="m-0 p-0">Duplicate</p>  
                          </div>
                        </li>
                        <!-- <li (click)="showModalDelete(data.id)" nz-menu-item class="gap-2 list-dropdown">
                          <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#f50'"></span>
                          <p class="m-0 p-0" style="color: #f50;">Delete</p>                
                        </li> -->
                      </ul>
                    </nz-dropdown-menu>
                  </div>
              </td>
            </tr>
        </tbody>
    </nz-table>
  </ng-container>

</ng-container>

<ng-container *ngIf="selectedOptIndex === 1">
  <h4 class="fw-bold mt-4">Project List</h4>
  <div class="list-wrapper">
    <div class="list-container">
      <nz-card
        *ngFor="let cat of listBoard; let isLast = last"
        style="width:400px;margin-bottom: 100px;height: fit-content;"
        [nzTitle]="cat.title"
        cdkDropList
        id="{{cat.id}}"
        [cdkDropListData]="cat.project_list"
        [cdkDropListConnectedTo]="boardConnectArray(cat.id)"
        (cdkDropListDropped)="drop($event)"
        class="card-list-wrapper"
        [ngClass]="isLast ? '' : 'me-3'"
      >
        <ng-container *ngFor="let item of cat.project_list; let isLast = last">
          <nz-card 
            class="card-item p-3" 
            cdkDrag 
            [cdkDragData]="item"
            [nzActions]="[actionDetail, actionEdit]" 
            [ngClass]="isLast ? '' : 'mb-4'"
          >
            <nz-card-meta
              [nzTitle]="item.name"
              [nzDescription]="item.issue_date"
            ></nz-card-meta>
          </nz-card>
          <ng-template #actionDetail>
            <span nz-icon nzType="copy" nzTheme="twotone" (click)="showModalDuplicate(item)"></span>
          </ng-template>
          <ng-template #actionEdit>
            <span nz-icon nzType="edit" nzTheme="twotone"  (click)="showModalEdit(item)"></span>
          </ng-template>
        </ng-container>
      </nz-card>
    </div>
  </div>
</ng-container>


<ng-template #loading>
  <nz-table 
    #basicTable 
    nzBordered 
    [nzLoading]="true"
    [nzTableLayout]="'fixed'"
    [nzScroll]="{ x: '100vw' }"
  >
      <thead>
        <tr>
          <ng-container *ngFor="let col of columns">
            <th nzWidth="200px" *ngIf="col.visible">{{ col.name }}</th>
          </ng-container>
          <th nzWidth="200px" nzRight>Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </nz-table>
</ng-template>

<nz-modal nzCentered [(nzVisible)]="isVisibleColumn" [nzTitle]="'Setting Column'" (nzOnCancel)="handleCancelColumn()">
  <ng-container *nzModalContent>
    <div *ngFor="let column of columns">
      <label nz-checkbox [(ngModel)]="column.visible">
        {{ column.name }}
      </label>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
      <button nz-button nzType="primary" class="text-capitalize" (click)="handleCancelColumn()">Ok</button>        
  </ng-container>
</nz-modal>


