
<ng-container *ngIf="user_type === 'employee'">
    <nz-table 
        #basicTable 
        nzBordered 
        [nzData]="listOfDataEmp"
        nzShowPagination
        [nzFrontPagination]="false"
        [nzTotal]="totalAllEmployee"
        [nzPageSize]="pageSizeEmployee"
        (nzPageIndexChange)="pageIndexChangeEmp($event)"
        [nzPageIndex]="currentPageEmployee"
    >
        <thead>
            <tr>
                <th>EMP ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>NIK</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.employee_pid }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.user.role.title }}</td>
                <td>{{ data.nik }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailHandler()"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateHandler()" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteHandler()" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>

<ng-container *ngIf="user_type === 'customer'">
    <nz-table 
        #basicTable 
        nzBordered 
        [nzData]="listofDataCust"
        nzShowPagination
        [nzFrontPagination]="false"
        [nzTotal]="totalAllCustomer"
        [nzPageSize]="pageSizeCustomer"
        (nzPageIndexChange)="pageIndexChangeCust($event)"
        [nzPageIndex]="currentPageCustomer"
    >
        <thead>
            <tr>
                <th>CUST ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Address</th>
                <th>Status</th>
                <th>PIC SFM</th>
                <th>PIC Customer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.customer_pid }}</td>
                <td>{{ data.name }}</td>
                <td class="text-capitalize">{{ data.type }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td><a [href]="data.website" target="_blank" rel="noopener noreferrer">{{ data.website }}</a></td>
                <td><a [href]="data.maps_url" target="_blank" rel="noopener noreferrer">{{ data.address }}</a></td>
                <td>
                    <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Active' : 'Inactive' }}</nz-tag>
                </td>
                <td>
                    <ng-container *ngFor="let pic of data.pic; last as isLast">{{ pic.name }}<span *ngIf="!isLast">, </span></ng-container>
                </td>
                <td>
                    <ng-container *ngFor="let cp of data.contactPerson; last as isLast">{{ cp.name }}<span *ngIf="!isLast">, </span></ng-container>
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailCustHandler(data)"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateCustHandler(data)" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteCustHandler(data.id)" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>

<ng-container *ngIf="user_type === 'supplier'">
    <nz-table 
        #basicTable 
        nzBordered 
        [nzData]="listofDataSupp"
        nzShowPagination
        [nzFrontPagination]="false"
        [nzTotal]="totalAllSupplier"
        [nzPageSize]="pageSizeSupplier"
        (nzPageIndexChange)="pageIndexChangeSupp($event)"
        [nzPageIndex]="currentPageSupplier"
    >
        <thead>
            <tr>
                <th>SUPP ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>PIC SFM</th>
                <th>PIC Customer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.supplier_pid }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td class="text-capitalize">{{ data.type }}</td>
                <td>{{ data.phone }}</td>
                <td><a [href]="data.maps_url" target="_blank" rel="noopener noreferrer">{{ data.address }}</a></td>
                <td>
                    <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Active' : 'Inactive' }}</nz-tag>
                </td>
                <td>
                    <ng-container *ngFor="let pic of data.pic; last as isLast">{{ pic.name }}<span *ngIf="!isLast">, </span></ng-container>
                </td>
                <td>
                    <ng-container *ngFor="let cp of data.contact_person; last as isLast">{{ cp.cp_name }}<span *ngIf="!isLast">, </span></ng-container>
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailSuppHandler(data)"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateSuppHandler(data)" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteSuppHandler(data.id)" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>
