
<ng-container *ngIf="user_type === 'employee'">
    <nz-table #basicTable nzBordered [nzData]="listOfDataEmp">
        <thead>
            <tr>
                <th>EMP ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>NIK</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.emp_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.nik }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Active' : 'Inactive' }}</nz-tag>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailHandler()"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateHandler()" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteHandler()" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>

<ng-container *ngIf="user_type === 'customer'">
    <nz-table #basicTable nzBordered [nzData]="listofDataCust">
        <thead>
            <tr>
                <th>CUST ID</th>
                <th>Name</th>
                <th>type</th>
                <th>Email</th>
                <th>NIK</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>PIC</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.cust_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.cust_cat }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.nik }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Active' : 'Inactive' }}</nz-tag>
                </td>
                <td>{{ data.pic }}</td>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailHandler()"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateHandler()" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteHandler()" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>

<ng-container *ngIf="user_type === 'supplier'">
    <nz-table #basicTable nzBordered [nzData]="listofDataSupp">
        <thead>
            <tr>
                <th>SUPP ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>NIK</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>PIC</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.supp_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.nik }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <nz-tag [nzColor]="data.status ? '#1DA32C' : '#f50'">{{ data.status ? 'Active' : 'Inactive' }}</nz-tag>
                </td>
                <td>{{ data.pic }}</td>
                <td>
                    <div class="d-flex gap-3">
                        <span (click)="detailHandler()"  nz-icon nzType="eye" nzTheme="twotone"></span>
                        <span (click)="updateHandler()" nz-icon nzType="edit" nzTheme="twotone"></span>
                        <span (click)="deleteHandler()" nz-icon nzType="delete" nzTheme="twotone"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>
