<div>
    <form nz-form nzLayout="vertical" [formGroup]="filterForm" (ngSubmit)="submitForm()">

        <nz-form-item>
            <nz-form-label nzFor="type">Type</nz-form-label>
            <nz-form-control>
                <nz-select
                    id="type"
                    formControlName="type"
                >
                    <nz-option nzLabel="Inventory" nzValue="inventory"></nz-option>
                    <nz-option nzLabel="Assembly" nzValue="assembly"></nz-option>
            </nz-select>
            </nz-form-control>
        </nz-form-item>
    
    </form>
</div>


<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm()">Search Inventory</button>
</div>