<div>
    <form nz-form nzLayout="vertical" [formGroup]="purchaseForm">
        <div class="row">
            <div class="col-md-4">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="pic" class="fw-semibold">PIC SFM</nz-form-label>
                    <ng-container *ngIf="pic$ | async as pic; else picLoad">
                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" formControlName="pic">
                            <nz-option
                            *ngFor="let p of pic"
                                [nzLabel]="p.name" 
                                [nzValue]="p.pic_id"
                            ></nz-option>
                        </nz-select>
                    </ng-container>
                    <ng-template #picLoad>
                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" nzDisabled>
                            <nz-option></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-form-item>
            </div>

            <div class="col-md-4">
                <nz-form-item>
                    <nz-form-label nzRequired class="fw-semibold" nzFor="is_pic_internal" nzRequired>Head of PIC SFM</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="is_pic_internal">
                        <ng-container *ngFor="let pic of filteredListOfPic">
                        <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                        </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-4">
                <nz-form-item>
                    <nz-form-label nzRequired class="fw-semibold" nzFor="supplier_id" nzRequired>Supplier</nz-form-label>
                    <ng-container *ngIf="supplier$ | async as supp; else suppLoad">
                        <nz-select nzShowSearch nzPlaceHolder="Select Supplier" formControlName="supplier_id">
                            <nz-option
                            *ngFor="let p of supp.data"
                                [nzLabel]="p.name" 
                                [nzValue]="p.id"
                            ></nz-option>
                        </nz-select>
                    </ng-container>
                    <ng-template #suppLoad>
                        <nz-select nzShowSearch nzPlaceHolder="Select Supplier" nzDisabled>
                            <nz-option></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-form-item>
            </div>

            <div class="col-md-4">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="description" class="fw-semibold">Description</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="description" id="description" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-4">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="reference_no" class="fw-semibold">Reference No.</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="reference_no" id="reference_no" />
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="date" class="fw-semibold">Date</nz-form-label>
                  <nz-form-control>
                      <nz-date-picker class="w-100" formControlName="date" id="date" nzPlaceHolder="pick a date"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
            </div>

            <nz-divider></nz-divider>

            <nz-form-item class="m-0">
                <h6 class="fw-semibold">Order Inventory</h6>
            </nz-form-item>
            <table class="table table-striped table-order">
                <thead>
                    <tr>
                    <th scope="col">Item</th>
                    <th scope="col" style="width: 10%;">Qty</th>
                    <th scope="col" style="width: 20%;">Unit Price</th>
                    <th scope="col" style="width: 40%;">Total</th>
                    <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="order">
                        <tr *ngFor="let order of order.controls; let i = index" [formGroupName]="i">
                            <td>
                                <nz-form-control>
                                    <nz-select nzShowSearch  nzPlaceHolder="Select Inventory" formControlName="inventory_id">
                                        <nz-option
                                        *ngFor="let p of inventoryList.data"
                                            [nzLabel]="p.name" 
                                            [nzValue]="p.id"
                                        ></nz-option>
                                    </nz-select>
                                </nz-form-control>                        
                            </td>
                            <td>
                                <nz-form-control>
                                    <nz-input-number formControlName="qty" [nzMin]="0"></nz-input-number>
                                </nz-form-control>  
                            </td>
                            <td>
                                <nz-form-control>
                                    <nz-space nzDirection="vertical" style="width: 100%">
                                        <nz-input-number-group *nzSpaceItem nzPrefix="Rp. " style="width: 100%">
                                            <nz-input-number     
                                            formControlName="product_cost"
                                            [nzFormatter]="formatter"
                                            [nzMin]="0"
                                            ></nz-input-number>
                                        </nz-input-number-group>
                                    </nz-space>
                                </nz-form-control>  
                            </td>
                            <td>
                                <div style="margin-top: 4px;">
                                    <p class="m-0 p-0">Rp. {{ order.get('total_cost')?.value | number:'1.0-0' }}</p>
                                </div>
                            </td>
                            <td>
                                <span (click)="removeOrder(i)" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <button (click)="addOrder()" nz-button nzType="primary" class="w-75">Add Item</button>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>

            <div class="d-flex flex-column align-items-end gap-2">
                <div class="d-flex align-items-center justify-content-between total-children" style="width: 30%;">
                    <p class="m-0 p-0 fw-semibold">Additional Cost</p>
                    <nz-space nzDirection="vertical" style="width: 55%">
                        <nz-input-number-group *nzSpaceItem nzPrefix="Rp. " style="width: 100%">
                            <nz-input-number     
                            formControlName="additional_cost"
                            [nzFormatter]="formatter"
                            [nzMin]="0"
                            ></nz-input-number>
                        </nz-input-number-group>
                    </nz-space>                
                </div>

                <div class="d-flex align-items-center justify-content-between" style="width: 30%;">
                    <p class="m-0 p-0 fw-semibold">Total Order</p>
                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalOrder | number:'1.0-0' }}</p>
                </div>

                <div class="d-flex align-items-center justify-content-between" style="width: 30%;">
                    <p class="m-0 p-0 fw-semibold">Tax</p>
                    <nz-space nzDirection="vertical" style="width: 55%">
                        <nz-input-number-group nzAddOnAfter="%" class="w-100">
                            <nz-input-number formControlName="tax" [nzMin]="0"></nz-input-number>
                        </nz-input-number-group>
                    </nz-space>                
                </div>

                <div class="d-flex align-items-center justify-content-between total-children" style="width: 30%;">
                    <p class="m-0 p-0 fw-semibold">Grand Total</p>
                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalGrandOrder | number:'1.0-0' }}</p>
                </div>
            </div>

        </div>
    </form>

    <div class="footer">
        <div class="d-flex gap-2">
            <button nz-button nzType="default" (click)="closeDrawer()">Cancel</button>
            <button nz-button nzType="primary" (click)="submitPurchase()" [disabled]="!purchaseForm.valid">{{ modal_type === 'add' ? 'Purchaser Order' : 'Edit Purchase Order' }}</button>
        </div>
    </div>
</div>
