<div>
    <div class="form-body">
        <form nz-form nzLayout="vertical" [formGroup]="purchaseForm">
            <div class="row">
                <div class="col-md-4">
                    <nz-form-item class="mb-4">
                        <nz-form-label nzRequired nzFor="pic" class="fw-semibold">PIC SFM</nz-form-label>
                        <ng-container *ngIf="pic$ | async as pic; else picLoad">
                            <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" formControlName="pic">
                                <nz-option
                                *ngFor="let p of pic"
                                    [nzLabel]="p.name" 
                                    [nzValue]="p.pic_id"
                                ></nz-option>
                            </nz-select>
                        </ng-container>
                        <ng-template #picLoad>
                            <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" nzDisabled>
                                <nz-option></nz-option>
                            </nz-select>
                        </ng-template>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired class="fw-semibold" nzFor="is_pic_internal" nzRequired>Head of PIC SFM</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="is_pic_internal">
                            <ng-container *ngFor="let pic of filteredListOfPic">
                            <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                            </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="manufacture" class="fw-semibold">Manufacture</nz-form-label>
                        <nz-form-control>
                            <ng-container *ngIf="manufacture$ | async as prod; else manuLoad">
                                <nz-select nzShowSearch nzPlaceHolder="Select Manufacture" formControlName="manufacture" [nzDropdownRender]="manRender">
                                    <ng-container *ngFor="let prod of prod.data">
                                        <nz-option [nzLabel]="prod.name" [nzValue]="prod.id"></nz-option>
                                    </ng-container>
                                </nz-select>
                                <ng-template #manRender>
                                    <nz-divider class="m-0"></nz-divider>
                                    <div class="container">
                                        <a class="add-item" (click)="showModalCategoryAdd('manufacture')">
                                        <span nz-icon nzType="plus"></span>
                                        Add More
                                        </a>
                                    </div>
                                </ng-template>
                            </ng-container>
                            <ng-template #manuLoad>
                                <nz-select nzDisabled nzPlaceHolder="Select Manufacture" formControlName="manufacture">
                                </nz-select>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item class="mb-4">
                        <nz-form-label nzRequired nzFor="description" class="fw-semibold">Description</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="description" id="description" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                    <nz-form-label nzRequired nzFor="date" class="fw-semibold">Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker class="w-100" formControlName="date" id="date" nzPlaceHolder="pick a date"></nz-date-picker>
                    </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="project_type" class="fw-semibold">Type</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzPlaceHolder="Select PO Type" formControlName="project_type">
                                <nz-option [nzLabel]="'Stock'" [nzValue]="'stock'"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div *ngIf="purchaseForm.get('project_type')?.value === 'project'" class="col-md-4">
                    <nz-form-item class="mb-4">
                        <nz-form-label nzRequired nzFor="project_id" class="fw-semibold">Project</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="project_id" id="project_id" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <nz-tabset>
                    <nz-tab nzTitle="Inventory Purchase">
                        <div class="table-responsive">
                            <table class="table table-striped table-order">
                                <thead style="position: unset;">
                                    <tr>
                                        <th scope="col">Part Number</th>
                                        <th scope="col">Product Description</th>
                                        <th scope="col">Alias</th>
                                        <th scope="col">Supplier</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Discount Item</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="order">
                                        <tr *ngFor="let order of order.controls; let i = index" [formGroupName]="i">
                                            <td>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch  nzPlaceHolder="Select Part Number" formControlName="product_code">
                                                        <nz-option
                                                        *ngFor="let p of inventoryList.data"
                                                            [nzLabel]="p.code" 
                                                            [nzValue]="p.id"
                                                        ></nz-option>
                                                    </nz-select>
                                                </nz-form-control>                        
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch  nzPlaceHolder="Select Inventory" formControlName="inventory_id">
                                                        <nz-option
                                                        *ngFor="let p of inventoryList.data"
                                                            [nzLabel]="p.description" 
                                                            [nzValue]="p.id"
                                                        ></nz-option>
                                                    </nz-select>
                                                </nz-form-control>                        
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <input nz-input formControlName="alias" />
                                                </nz-form-control>
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch nzPlaceHolder="Select Supplier" formControlName="supplier">
                                                        <nz-option
                                                            *ngFor="let supplier of order.get('suppliersList')?.value"
                                                            [nzLabel]="supplier.supplier.name" 
                                                            [nzValue]="supplier.id"
                                                        ></nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-input-number formControlName="qty" [nzMin]="0"></nz-input-number>
                                                </nz-form-control>  
                                            </td>
                                            <td>
                                                <div>
                                                    <p class="m-0 p-0">{{ order.get('unit_measurement')?.value}} <sup>{{ order.get('unit_unit')?.value }}</sup> </p>
                                                </div>
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-space nzDirection="vertical" style="width: 100%">
                                                        <nz-input-number-group *nzSpaceItem nzPrefix="Rp. " style="width: 100%">
                                                            <nz-input-number
                                                            *ngIf="order.get('include_tax')?.value"
                                                            formControlName="product_cost_2_taxed"
                                                            [nzFormatter]="formatter"
                                                            [nzMin]="0"
                                                            ></nz-input-number>
                                                            <nz-input-number
                                                            *ngIf="!order.get('include_tax')?.value"
                                                            formControlName="product_cost_2"
                                                            [nzFormatter]="formatter"
                                                            [nzMin]="0"
                                                            ></nz-input-number>
                                                        </nz-input-number-group>
                                                    </nz-space>
                                                    <label class="mt-2" nz-checkbox formControlName="include_tax">Include Tax</label>
                                                </nz-form-control>  
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <ng-container *ngIf="order.get('discount_type')?.value === 'percent';else price">
                                                        <nz-input-number-group nzAddOnAfter="%">
                                                            <nz-input-number formControlName="discount"></nz-input-number>
                                                        </nz-input-number-group>
                                                    </ng-container>
                                                    <ng-template #price>
                                                        <nz-input-number-group nzAddOnBefore="Rp. ">
                                                            <nz-input-number     
                                                            formControlName="discount"
                                                            [nzFormatter]="formatter"
                                                            ></nz-input-number>
                                                        </nz-input-number-group>
                                                    </ng-template>
                                                    <nz-radio-group formControlName="discount_type" class="mt-2">
                                                        <label nz-radio nzValue="percent">Percent</label>
                                                        <label nz-radio nzValue="price">Price</label>
                                                    </nz-radio-group>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="margin-top: 4px;">
                                                    <p class="m-0 p-0">Rp. {{ order.get('total_cost')?.value | number:'1.0-0' }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <span (click)="removeOrder(i)" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="10" class="text-center">
                                                <button (click)="addOrder()" nz-button nzType="primary" class="w-75" [disabled]="formDisable">Add Item</button>
                                            </td>
                                        </tr>
                                    </ng-container>
            
                                </tbody>
                            </table>
                        </div>

                        <div class="w-50 ms-auto">
                            <div class="row mb-4">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Total Order</p>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalOrder | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Discount</p>
                                </div>
                                <div class="col-md-3">
                                    <ng-container *ngIf="purchaseForm.get('discount_total_type_1')?.value === 'percent';else priceDiscount1">
                                        <nz-input-number-group nzAddOnAfter="%">
                                            <nz-input-number formControlName="discount_total_1"></nz-input-number>
                                        </nz-input-number-group>
                                    </ng-container>
                                    <ng-template #priceDiscount1>
                                        <nz-input-number-group nzAddOnBefore="Rp. ">
                                            <nz-input-number     
                                            formControlName="discount_total_1"
                                            [nzFormatter]="formatter"
                                            ></nz-input-number>
                                        </nz-input-number-group>
                                    </ng-template>
                                    <nz-radio-group formControlName="discount_total_type_1" class="mt-2">
                                        <label nz-radio nzValue="percent">Percent</label>
                                        <label nz-radio nzValue="price">Price</label>
                                    </nz-radio-group>
                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ discountNominal | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Tax</p>
                                </div>
                                <div class="col-md-3">
                                    <nz-space nzDirection="vertical" style="width: 100%;">
                                        <nz-input-number-group nzAddOnAfter="%" class="w-100">
                                            <nz-input-number formControlName="tax1" [nzMin]="0"></nz-input-number>
                                        </nz-input-number-group>
                                    </nz-space>
                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ taxNominal | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2 total-children">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Grand Total Order</p>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalGrandOrder | number:'1.0-0' }}</p>
                                </div>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Additional Purchase">
                        <div class="table-responsive">
                            <table class="table table-striped table-order">
                                <thead style="position: unset;">
                                    <tr>
                                        <th scope="col">Product Description</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Unit Code</th>
                                        <th scope="col">Price List</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="order_additional">
                                        <tr *ngFor="let order of orderAdditional.controls; let i = index" [formGroupName]="i">
                                            <td>
                                                <nz-form-control>
                                                    <input nz-input formControlName="product_description" />
                                                </nz-form-control>
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-input-number formControlName="qty" [nzMin]="0"></nz-input-number>
                                                </nz-form-control>  
                                            </td>
                                            <td>
                                                <ng-container *ngIf="unit$ | async as unit; else unitLoad">
                                                    <nz-select nzShowSearch nzPlaceHolder="Select Unit" formControlName="unit_id" [nzDropdownRender]="unitRender">
                                                        <nz-option
                                                            *ngFor="let u of unit.data"
                                                            [nzValue]="u.id"
                                                            [nzLabel]="u.name"
                                                        >
                                                        </nz-option>
                                                        <ng-template #unitRender>
                                                            <nz-divider class="m-0"></nz-divider>
                                                            <div class="container">
                                                            <a class="add-item" (click)="showModalUnit('uom')">
                                                                <span nz-icon nzType="plus"></span>
                                                                Add Unit
                                                            </a>
                                                            </div>
                                                        </ng-template>
                                                    </nz-select>
                                                </ng-container>
                                                <ng-template #unitLoad>
                                                    <nz-select nzShowSearch nzPlaceHolder="Select Unit" nzDisabled>
                                                        <nz-option></nz-option>
                                                    </nz-select>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <div>
                                                    <p class="m-0 p-0">{{ order.get('measurement')?.value}} <sup>{{ order.get('unit')?.value }}</sup> </p>
                                                </div>
                                            </td>
                                            <td>
                                                <nz-form-control>
                                                    <nz-space nzDirection="vertical" style="width: 100%">
                                                        <nz-input-number-group *nzSpaceItem nzPrefix="Rp. " style="width: 100%">
                                                            <nz-input-number     
                                                            formControlName="price_list"
                                                            [nzFormatter]="formatter"
                                                            [nzMin]="0"
                                                            ></nz-input-number>
                                                        </nz-input-number-group>
                                                    </nz-space>
                                                </nz-form-control>  
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <ng-container *ngIf="order.get('discount_type')?.value === 'percent';else priceAdditional">
                                                        <nz-input-number-group nzAddOnAfter="%">
                                                            <nz-input-number formControlName="discount"></nz-input-number>
                                                        </nz-input-number-group>
                                                    </ng-container>
                                                    <ng-template #priceAdditional>
                                                        <nz-input-number-group nzAddOnBefore="Rp. ">
                                                            <nz-input-number     
                                                            formControlName="discount_price"
                                                            [nzFormatter]="formatter"
                                                            ></nz-input-number>
                                                        </nz-input-number-group>
                                                    </ng-template>
                                                    <nz-radio-group formControlName="discount_type" class="mt-2">
                                                        <label nz-radio nzValue="percent">Percent</label>
                                                        <label nz-radio nzValue="price">Price</label>
                                                    </nz-radio-group>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="margin-top: 4px;">
                                                    <p class="m-0 p-0">Rp. {{ order.get('total_cost')?.value | number:'1.0-0' }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <span (click)="removeOrderAdditional(i)" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="text-center">
                                                <button (click)="addOrderAdditional()" nz-button nzType="primary" class="w-75" [disabled]="formDisable">Add Additional</button>
                                            </td>
                                        </tr>
                                    </ng-container>
            
                                </tbody>
                            </table>
                        </div>

        
                        <div class="w-50 ms-auto">
                            <div class="row mb-4">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Total Order</p>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalOrder | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Discount</p>
                                </div>
                                <div class="col-md-3">
                                    <ng-container *ngIf="purchaseForm.get('discount_total_type_2')?.value === 'percent';else priceDiscount2">
                                        <nz-input-number-group nzAddOnAfter="%">
                                            <nz-input-number formControlName="discount_total_2"></nz-input-number>
                                        </nz-input-number-group>
                                    </ng-container>
                                    <ng-template #priceDiscount2>
                                        <nz-input-number-group nzAddOnBefore="Rp. ">
                                            <nz-input-number     
                                            formControlName="discount_total_2"
                                            [nzFormatter]="formatter"
                                            ></nz-input-number>
                                        </nz-input-number-group>
                                    </ng-template>
                                    <nz-radio-group formControlName="discount_total_type_2" class="mt-2">
                                        <label nz-radio nzValue="percent">Percent</label>
                                        <label nz-radio nzValue="price">Price</label>
                                    </nz-radio-group>
                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ discountNominal | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Tax</p>
                                </div>
                                <div class="col-md-3">
                                    <nz-space nzDirection="vertical" style="width: 100%;">
                                        <nz-input-number-group nzAddOnAfter="%" class="w-100">
                                            <nz-input-number formControlName="tax1" [nzMin]="0"></nz-input-number>
                                        </nz-input-number-group>
                                    </nz-space>
                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ taxNominal | number:'1.0-0' }}</p>
                                </div>
                            </div>

                            <div class="row mb-2 total-children">
                                <div class="col-md-5">
                                    <p class="m-0 p-0 fw-semibold">Grand Total Order</p>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-4">
                                    <p class="m-0 p-0 fw-semibold total-order">Rp {{ totalGrandOrder | number:'1.0-0' }}</p>
                                </div>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Shipping & Billing">
                        <nz-form-item class="m-0 mb-2">
                            <h6 class="fw-semibold">Shipping Address</h6>
                        </nz-form-item>

                        <div class="row">
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="pic_shipping" class="fw-semibold">Shipping PIC</nz-form-label>
                                    <ng-container *ngIf="pic$ | async as pic; else picLoad">
                                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" formControlName="pic_shipping">
                                            <nz-option
                                            *ngFor="let p of pic"
                                                [nzLabel]="p.name" 
                                                [nzValue]="p.pic_id"
                                            ></nz-option>
                                        </nz-select>
                                    </ng-container>
                                    <ng-template #picLoad>
                                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" nzDisabled>
                                            <nz-option></nz-option>
                                        </nz-select>
                                    </ng-template>
                                </nz-form-item>                                
                            </div>
                            <div class="col-md-4">
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="is_pic_internal_shipping" nzRequired>Head of PIC Shipping</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="is_pic_internal_shipping">
                                            <ng-container *ngFor="let pic of filtredListOfPicShipping">
                                                <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                                            </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="row">
                            <ng-container *ngIf="purchaseForm.get('project_type')?.value === 'stock'">
                                <div class="col-md-4">
                                    <nz-form-item>
                                        <nz-form-label class="fw-semibold" for="warehouse_id">Warehouse</nz-form-label>
                                        <ng-container *ngIf="warehouse$ | async as w; else warehouseLoad">
                                            <nz-select nzShowSearch nzPlaceHolder="Select Warehouse" formControlName="warehouse_id" [nzDropdownRender]="warehouseRender">
                                                <nz-option *ngFor="let warehouse of w.data" [nzLabel]="warehouse.name" [nzValue]="warehouse.id"></nz-option>
                                                <ng-template #warehouseRender>
                                                    <nz-divider class="m-0"></nz-divider>
                                                    <div class="container">
                                                    <a class="add-item" (click)="showModalAddWarehouse()">
                                                        <span nz-icon nzType="plus"></span>
                                                        Add Warehouse
                                                    </a>
                                                    </div>
                                                </ng-template>
                                            </nz-select>
                                        </ng-container>
                                        <ng-template #warehouseLoad>
                                            <nz-select nzShowSearch nzPlaceHolder="Select Warehouse" nzDisabled>
                                            </nz-select>  
                                        </ng-template>
                                    </nz-form-item>
                                </div>
                            </ng-container>
            
                            <div class="col-md-4">
                                <ng-container *ngIf="provinces$ | async as province; else provinceLoad">
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="province" nzRequired>Province</nz-form-label>
                                    <nz-form-control>
                                        <nz-select  nzShowSearch nzPlaceHolder="Select Province" formControlName="province">
                                        <ng-container *ngFor="let p of province">
                                        <nz-option [nzLabel]="p.province" [nzValue]="p.id"></nz-option>
                                        </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                </ng-container>
                
                                <ng-template #provinceLoad>
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="province" nzRequired>Province</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzDisabled nzPlaceHolder="Select Province" formControlName="province">
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                </ng-template>
                            </div>
                
                            <div class="col-md-4">
                            <ng-container *ngIf="city.length > 0; else loadingCity">
                                <nz-form-item>
                                <nz-form-label nzRequired class="fw-semibold" nzFor="city" nzRequired>City</nz-form-label>
                                <nz-form-control>
                                    <nz-select  nzShowSearch nzPlaceHolder="Select city" formControlName="city">
                                    <ng-container *ngFor="let c of city">
                                        <nz-option [nzLabel]="c.regency" [nzValue]="c.id"></nz-option>
                                    </ng-container>
                                    </nz-select>
                                </nz-form-control>
                                </nz-form-item>
                            </ng-container>
                            <ng-template #loadingCity>
                                <nz-form-item>
                                <nz-form-label nzRequired class="fw-semibold" nzFor="city" nzRequired>City</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzDisabled nzPlaceHolder="Select province first" formControlName="city">
                                    </nz-select>
                                </nz-form-control>
                                </nz-form-item>
                            </ng-template>
                            </div>
    
                            <div class="col-md-4">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzFor="postal_code" class="fw-semibold">Postal Code</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="postal_code" id="postal_code"  />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="col-md-4">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzFor="telephone_shipping" class="fw-semibold">Telephone/Fax Shipping</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="telephone_shipping" id="telephone_shipping"  />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="address" class="fw-semibold">Company Full Address</nz-form-label>
                                <nz-form-control>
                                <nz-textarea-count [nzMaxCharacterCount]="200">
                                    <textarea rows="4" formControlName="address" nz-input></textarea>
                                </nz-textarea-count>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <nz-divider></nz-divider>

                        <nz-form-item class="m-0 mb-2">
                            <h6 class="fw-semibold">Billing Address</h6>
                        </nz-form-item>
                        <div class="row">
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="pic_billing" class="fw-semibold">Billing PIC</nz-form-label>
                                    <ng-container *ngIf="pic$ | async as pic; else picLoad">
                                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" formControlName="pic_billing">
                                            <nz-option
                                            *ngFor="let p of pic"
                                                [nzLabel]="p.name" 
                                                [nzValue]="p.pic_id"
                                            ></nz-option>
                                        </nz-select>
                                    </ng-container>
                                    <ng-template #picLoad>
                                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select PIC" nzDisabled>
                                            <nz-option></nz-option>
                                        </nz-select>
                                    </ng-template>
                                </nz-form-item>                                
                            </div>
                            <div class="col-md-4">
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="is_pic_internal_billing" nzRequired>Head of PIC Billing</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="is_pic_internal_billing">
                                            <ng-container *ngFor="let pic of filteredListOfPicBilling">
                                                <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                                            </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="row">
                            <ng-container *ngIf="purchaseForm.get('project_type')?.value === 'stock'">
                                <div class="col-md-4">
                                    <nz-form-item>
                                        <nz-form-label class="fw-semibold" for="billing_id">Billing Address</nz-form-label>
                                        <ng-container *ngIf="billing$ | async as b; else billingLoad">
                                            <nz-select nzShowSearch nzPlaceHolder="Select Billing Address" formControlName="billing_id" [nzDropdownRender]="billingRender">
                                                <nz-option *ngFor="let billing of b.data" [nzLabel]="billing.name" [nzValue]="billing.id"></nz-option>
                                                <ng-template #billingRender>
                                                    <nz-divider class="m-0"></nz-divider>
                                                    <div class="container">
                                                    <a class="add-item" (click)="showModalAddBilling()">
                                                        <span nz-icon nzType="plus"></span>
                                                        Add Billing Address
                                                    </a>
                                                    </div>
                                                </ng-template>
                                            </nz-select>
                                        </ng-container>
                                        <ng-template #billingLoad>
                                            <nz-select nzShowSearch nzPlaceHolder="Select Billing Address" nzDisabled>
                                            </nz-select>  
                                        </ng-template>
                                    </nz-form-item>
                                </div>
                            </ng-container>
            
                            <div class="col-md-4">
                                <ng-container *ngIf="provinces$ | async as province; else provinceLoad">
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="province_billing" nzRequired>Province</nz-form-label>
                                    <nz-form-control>
                                        <nz-select  nzShowSearch nzPlaceHolder="Select Province" formControlName="province_billing">
                                        <ng-container *ngFor="let p of province">
                                        <nz-option [nzLabel]="p.province" [nzValue]="p.id"></nz-option>
                                        </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                </ng-container>
                
                                <ng-template #provinceLoad>
                                <nz-form-item>
                                    <nz-form-label nzRequired class="fw-semibold" nzFor="province_billing" nzRequired>Province</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzDisabled nzPlaceHolder="Select Province" formControlName="province_billing">
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                </ng-template>
                            </div>
                
                            <div class="col-md-4">
                            <ng-container *ngIf="city.length > 0; else loadingCity">
                                <nz-form-item>
                                <nz-form-label nzRequired class="fw-semibold" nzFor="city_billing" nzRequired>City</nz-form-label>
                                <nz-form-control>
                                    <nz-select  nzShowSearch nzPlaceHolder="Select city" formControlName="city_billing">
                                    <ng-container *ngFor="let c of city">
                                        <nz-option [nzLabel]="c.regency" [nzValue]="c.id"></nz-option>
                                    </ng-container>
                                    </nz-select>
                                </nz-form-control>
                                </nz-form-item>
                            </ng-container>
                            <ng-template #loadingCity>
                                <nz-form-item>
                                <nz-form-label nzRequired class="fw-semibold" nzFor="city_billing" nzRequired>City</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzDisabled nzPlaceHolder="Select province first" formControlName="city_billing">
                                    </nz-select>
                                </nz-form-control>
                                </nz-form-item>
                            </ng-template>
                            </div>
    
                            <div class="col-md-4">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="postal_code_billing" class="fw-semibold">Postal Code</nz-form-label>
                                <nz-form-control>
                                <input nz-input formControlName="postal_code_billing" id="postal_code_billing"  />
                                </nz-form-control>
                            </nz-form-item>
                            </div>

                            
                            <div class="col-md-4">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzFor="telephone_billing" class="fw-semibold">Telephone/Fax Billing</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="telephone_billing" id="telephone_billing"  />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="address_billing" class="fw-semibold">Company Full Address</nz-form-label>
                                <nz-form-control>
                                <nz-textarea-count [nzMaxCharacterCount]="200">
                                    <textarea rows="4" formControlName="address_billing" nz-input></textarea>
                                </nz-textarea-count>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Additional Information">
                        <div class="row">
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="payment_term" class="fw-semibold">Payment Term</nz-form-label>
                                    <nz-form-control>
                                        <div class="row">
                                            <div class="col-6">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="payment_term">
                                                    <nz-option nzValue="down_payment" nzLabel="Down Payment"></nz-option>
                                                    <nz-option nzValue="termin" nzLabel="Termin"></nz-option>
                                                    <nz-option nzValue="cash_on_delivery" nzLabel="Cash on Delivery"></nz-option>
                                                </nz-select>
                                            </div>
                                            <div class="col-6">
                                                <ng-container *ngIf="paymentTerm === 'down_payment'">
                                                    <nz-input-group nzAddOnAfter="%">
                                                        <input nz-input formControlName="payment_due_date" id="payment_due_date" />
                                                    </nz-input-group>
                                                </ng-container>
                                                <ng-container *ngIf="paymentTerm === 'termin'">
                                                    <nz-input-group nzAddOnAfter="Hari">
                                                        <input nz-input formControlName="payment_due_date" id="payment_due_date" />
                                                    </nz-input-group>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="payment_due_date_status" class="fw-semibold">Payment Due Date</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="payment_due_date_status" id="payment_due_date_status" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="shipping_term" class="fw-semibold">Shipping Term</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="shipping_term" id="shipping_term" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-4">
                                <nz-form-item class="mb-4">
                                    <nz-form-label nzRequired nzFor="remarks" class="fw-semibold">Remarks</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="remarks" id="remarks" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                    </nz-tab>
                </nz-tabset>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex gap-2 justify-content-end">
            <button nz-button nzType="default" (click)="closeDrawer()">Cancel</button>
            <button nz-button nzType="primary" (click)="submitPurchase()" [disabled]="!purchaseForm.valid">{{ modal_type === 'add' || modal_type === 'duplicate' ? 'Purchaser Order' : 'Edit Purchase Order' }}</button>
        </div>
    </div>
</div>
