<div>
    <form nz-form nzLayout="vertical" [formGroup]="projectForm">
      <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="Basic Information">
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="project_id" class="fw-semibold">Project ID</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="project_id" id="project_id" />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item >
                  <nz-form-label nzRequired nzFor="name" class="fw-semibold">Project Name</nz-form-label>
                  <nz-form-control>
                  <input nz-input formControlName="name" id="name" />
                  </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item >
                <nz-form-label nzRequired nzFor="issue_date" class="fw-semibold">Issue Date</nz-form-label>
                <nz-form-control>
                  <nz-date-picker class="w-100" formControlName="issue_date" id="issue_date" nzPlaceHolder="pick a date"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            
            <div class="col-md-6">
              <nz-form-item >
                <nz-form-label nzRequired nzFor="project_category" class="fw-semibold">Project Category</nz-form-label>
                <nz-form-control>
                  <nz-select  nzShowSearch nzPlaceHolder="Select Project Category" formControlName="project_category">
                    <nz-option nzLabel="Awarded" nzValue="cat_awarded"></nz-option>
                    <nz-option nzLabel="Category A+" nzValue="cat_a_plus"></nz-option>
                    <nz-option nzLabel="Category A" nzValue="cat_a"></nz-option>
                    <nz-option nzLabel="Category B" nzValue="cat_b"></nz-option>
                    <nz-option nzLabel="Category C" nzValue="cat_c"></nz-option>
                    <nz-option nzLabel="Category D" nzValue="cat_d"></nz-option>
                    <nz-option nzLabel="Failed" nzValue="cat_f"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <nz-form-item *ngIf="projectForm.get('project_category')?.value === 'cat_f'">
              <nz-form-label nzRequired nzFor="reason_failed" class="fw-semibold">Reason Failed</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="reason_failed" id="reason_failed" />
              </nz-form-control>
            </nz-form-item>

            <div class="col-md-6">
                <nz-form-item class="mb-4">
                    <nz-form-label nzRequired nzFor="pic" class="fw-semibold">Sales PIC</nz-form-label>
                    <nz-form-control>
                      <ng-container *ngIf="pic$ | async as pic; else picLoad">
                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select Sales" formControlName="sales_pic">
                            <nz-option
                            *ngFor="let p of pic"
                                [nzLabel]="p.name" 
                                [nzValue]="p.pic_id"
                            ></nz-option>
                        </nz-select>
                    </ng-container>
                    <ng-template #picLoad>
                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select Sales" nzDisabled>
                            <nz-option></nz-option>
                        </nz-select>
                    </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="sales_pic_internal" nzRequired>Head of Sales PIC</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="sales_pic_internal">
                    <ng-container *ngFor="let pic of filteredListOfPic">
                      <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                    </ng-container>
                    </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            
            <div class="col-md-6">
              <nz-form-item class="mb-4">
                  <nz-form-label nzRequired nzFor="pic" class="fw-semibold">DCE PIC</nz-form-label>
                  <nz-form-control>
                    <ng-container *ngIf="pic$ | async as pic; else picLoad">
                      <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select DCE" formControlName="dce_pic">
                          <nz-option
                          *ngFor="let p of pic"
                              [nzLabel]="p.name" 
                              [nzValue]="p.pic_id"
                          ></nz-option>
                      </nz-select>
                    </ng-container>
                    <ng-template #picLoad>
                        <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Select DCE" nzDisabled>
                            <nz-option></nz-option>
                        </nz-select>
                    </ng-template>
                  </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="dce_pic_internal" nzRequired>Head of DCE PIC</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzPlaceHolder="Select Head" formControlName="dce_pic_internal">
                    <ng-container *ngFor="let pic of filteredListOfPicDCE">
                      <nz-option [nzLabel]="pic.name" [nzValue]="pic.pic_id"></nz-option>
                    </ng-container>
                    </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <ng-container *ngIf="provinces$ | async as province; else provinceLoad">
                <nz-form-item class="mb-4">
                  <nz-form-label nzRequired class="fw-semibold" nzFor="province" nzRequired>Province</nz-form-label>
                  <nz-form-control>
                      <nz-select  nzShowSearch nzPlaceHolder="Select Province" formControlName="province">
                      <ng-container *ngFor="let p of province">
                        <nz-option [nzLabel]="p.province" [nzValue]="p.id"></nz-option>
                      </ng-container>
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>

              <ng-template #provinceLoad>
                <nz-form-item class="mb-4">
                  <nz-form-label nzRequired class="fw-semibold" nzFor="province" nzRequired>Province</nz-form-label>
                  <nz-form-control>
                      <nz-select nzDisabled nzPlaceHolder="Select Province" formControlName="province">
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-template>
            </div>

            <div class="col-md-6">
              <ng-container *ngIf="city.length > 0; else loadingCity">
                <nz-form-item class="mb-4">
                  <nz-form-label nzRequired class="fw-semibold" nzFor="city" nzRequired>City</nz-form-label>
                  <nz-form-control>
                      <nz-select  nzShowSearch nzPlaceHolder="Select city" formControlName="city">
                      <ng-container *ngFor="let c of city">
                        <nz-option [nzLabel]="c.regency" [nzValue]="c.id"></nz-option>
                      </ng-container>
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-template #loadingCity>
                <nz-form-item>
                  <nz-form-label nzRequired class="fw-semibold" nzFor="city" nzRequired>City</nz-form-label>
                  <nz-form-control>
                      <nz-select nzDisabled nzPlaceHolder="Select province first" formControlName="city">
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-template>
            </div>

            <div class="col-md-6">
              <nz-form-item class="mb-4">
                <nz-form-label nzRequired nzFor="postal_code" class="fw-semibold">Postal Code</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="postal_code" id="postal_code"  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item class="mb-4">
                <nz-form-label nzRequired nzFor="maps_url" class="fw-semibold">Maps Url</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="maps_url" id="maps_url"  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="address" class="fw-semibold">Full Address</nz-form-label>
                <nz-form-control>
                  <nz-textarea-count [nzMaxCharacterCount]="200">
                    <textarea rows="4" formControlName="address" nz-input></textarea>
                  </nz-textarea-count>
                </nz-form-control>
            </nz-form-item>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="cluster" nzRequired>Cluster</nz-form-label>
                <nz-form-control>
                  <ng-container *ngIf="cluster$ | async as cluster; else clusterLoad">
                    <nz-select nzShowSearch nzPlaceHolder="Selet Cluster" formControlName="cluster" [nzDropdownRender]="clusterRender">
                      <ng-container *ngFor="let c of cluster.data">
                        <nz-option [nzLabel]="c.name" [nzValue]="c.id"></nz-option>
                      </ng-container>
                      <ng-template #clusterRender>
                        <nz-divider class="m-0"></nz-divider>
                        <div class="container">
                          <a class="add-item" (click)="showModalCategoryAdd('cluster')">
                            <span nz-icon nzType="plus"></span>
                            Add Cluster
                          </a>
                        </div>
                      </ng-template>
                    </nz-select>
                  </ng-container>
                  <ng-template #clusterLoad>
                    <nz-select nzDisabled nzPlaceHolder="Select Cluster" formControlName="cluster">
                    </nz-select>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="segmentation" nzRequired>Segmentation</nz-form-label>
                <nz-form-control>
                  <ng-container *ngIf="segmentation$ | async as segmentation; else segmentLoad">
                    <nz-select nzShowSearch nzPlaceHolder="Select Segmentation" formControlName="segmentation" [nzDropdownRender]="segmentRender">
                      <ng-container *ngFor="let s of segmentation.data">
                        <nz-option [nzLabel]="s.name" [nzValue]="s.id"></nz-option>
                      </ng-container>
                      <ng-template #segmentRender>
                        <nz-divider class="m-0"></nz-divider>
                        <div class="container">
                          <a class="add-item" (click)="showModalCategoryAdd('segmentation')">
                            <span nz-icon nzType="plus"></span>
                            Add Segmentation
                          </a>
                        </div>
                      </ng-template>
                    </nz-select>
                  </ng-container>
                  <ng-template #segmentLoad>
                    <nz-select nzDisabled nzPlaceHolder="Select Segmentation" formControlName="segmentation">
                    </nz-select>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="specification" nzRequired>Specification</nz-form-label>
                <nz-form-control>
                    <nz-select  nzShowSearch nzMode="tags" nzPlaceHolder="Select Specification" formControlName="specification">
                      <nz-option nzLabel="Siphonic System" nzValue="siphonic_system"></nz-option>
                      <nz-option nzLabel="Gravity System" nzValue="gravity_system"></nz-option>
                    </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="remarks" nzRequired>Remarks</nz-form-label>
                <nz-form-control>
                    <nz-select  nzShowSearch nzPlaceHolder="Select Remarks" formControlName="remarks">
                      <nz-option nzLabel="Siphonic System" nzValue="siphonic_system"></nz-option>
                      <nz-option nzLabel="Fastflow" nzValue="fastflow"></nz-option>
                    </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>


            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired class="fw-semibold" nzFor="material" nzRequired>Material</nz-form-label>
                <nz-form-control>
                  <ng-container *ngIf="material$ | async as material; else matLoad">
                    <nz-select nzShowSearch nzMode="tags" nzPlaceHolder="Selet Material" formControlName="material" [nzDropdownRender]="materialRender">
                      <ng-container *ngFor="let m of material.data">
                        <nz-option [nzLabel]="m.name" [nzValue]="m.id"></nz-option>
                      </ng-container>
                      <ng-template #materialRender>
                        <nz-divider class="m-0"></nz-divider>
                        <div class="container">
                          <a class="add-item" (click)="showModalCategoryAdd('material')">
                            <span nz-icon nzType="plus"></span>
                            Add Material
                          </a>
                        </div>
                      </ng-template>
                    </nz-select>
                  </ng-container>
                  <ng-template #matLoad>
                    <nz-select nzDisabled nzPlaceHolder="Select Material" formControlName="material">
                    </nz-select>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="competitor" class="fw-semibold">Competitor</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="competitor" id="competitor"  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="year_month" class="fw-semibold">Year - Month</nz-form-label>
                <nz-form-control>
                  <nz-date-picker nzMode="month" formControlName="year_month"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- <div class="col-md-6">
              <ng-container *ngIf="customerList$ | async as emp; else loadingEmp">
                <nz-form-item>
                  <nz-form-label nzFor="customer_id" nzRequired class="fw-semibold">Customer</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="customer_id"
                      formControlName="customer_id"
                      nzPlaceHolder="Select Customer"
                    >
  
                      <nz-option class="text-capitalize" *ngFor="let r of emp.data" [nzValue]="r.id" [nzLabel]="r.name"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-template #loadingEmp>
                <nz-form-item>
                  <nz-form-label nzFor="customer_id" nzRequired class="fw-semibold">Customer</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="customer_id"
                      formControlName="customer_id"
                      nzPlaceHolder="Loading..."
                      nzDisabled
                    >
                      <nz-option nzValue="" nzLabel="...loading"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>             
              </ng-template>
              <ng-container *ngIf="this.isCustomerDetail">
                <a (click)="showDetail()">Click for Customer Detail</a>
              </ng-container>
            </div> -->
            
        </div>
        </nz-tab>
        <nz-tab nzTitle="Customer Selection">
          <div class="table-responsive">
            <table class="table table-striped table-order">
              <thead style="position: unset">
                <tr>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Contact Person</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <ng-container formArrayName="customers">
                  <ng-container *ngIf="customerSector$ | async as sector">
                    <ng-container *ngFor="let s of sector.data">
                      <tr>
                        <td colspan="3">
                          <span class="fw-bold">{{ s.name }}</span>
                        </td>
                      </tr>
                      <tr *ngFor="let cust of customersArrForm.controls; let i = index" [formGroupName]="i">
                        <ng-container *ngIf="cust.get('type')?.value === s.id">
                          <td>
                            <ng-container *ngIf="!isLoadingCustomerList; else loadCustomerArr">
                              <nz-form-control>
                                <nz-select nzShowSearch nzPlaceHolder="Select Customer" formControlName="customer_id">
                                  <nz-option
                                    *ngFor="let cust of customers"
                                    [nzLabel]="cust.name"
                                    [nzValue]="cust.id"
                                  ></nz-option>
                                </nz-select>
                              </nz-form-control>
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngIf="cust.get('customer_id')?.value !== ''">
                              <ng-container *ngIf="cust.get('isLoadingCp')?.value === false; else loadCp">
                                <nz-form-control>
                                  <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="Select CP" formControlName="selected_contact_person">
                                    <nz-option 
                                      *ngFor="let cp of getContactPersons(cust).controls; let j = index"  
                                      nzCustomContent 
                                      [nzLabel]="cp.get('name')?.value + ' as ' + cp.get('role')?.value + (cp.get('dm')?.value === 1 ? ' (DM)' : '')" 
                                      [nzValue]="cp.get('id')?.value"
                                    >
                                      <span class="fw-bold">{{cp.get('name')?.value}}</span> 
                                      as 
                                      <span class="fw-bold">{{cp.get('role')?.value}}</span>
                                      <span *ngIf="cp.get('dm')?.value === 1" class="fw-bold">(DM)</span>
                                    </nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </ng-container>
                              <ng-template #loadCp>
                                <nz-spin nzSimple nzSize="small"></nz-spin>
                              </ng-template>
                            </ng-container>
                          </td>
                          <td>
                            <span (click)="removeCust(i)" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                          </td>
                        </ng-container>

                      </tr>
                      <tr>
                        <td class="text-center" colspan="3">
                          <button nz-button nzType="primary" class="w-75" (click)="addCustomer(s.id)">Add {{ s.name }}</button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <!-- <tr>
                  <td colspan="3">
                    <span class="fw-bold">Owner</span>
                  </td>
                </tr>
                <ng-container formArrayName="owner">
                  <tr *ngFor="let owner of owners.controls; let i = index" [formGroupName]="i">
                    <td>
                      <ng-container *ngIf="!isLoadingCustomerList; else loadCustomerArr">
                        <nz-form-control>
                          <nz-select nzShowSearch nzPlaceHolder="Select Customer" formControlName="customer_id">
                            <nz-option
                              *ngFor="let cust of customers"
                              [nzLabel]="cust.name"
                              [nzValue]="cust.id"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="owner.get('customer_id')?.value !== ''">
                        <ng-container formArrayName="contact_person">
                          <ng-container *ngIf="owner.get('isLoadingCp')?.value === false; else loadCp">
                            <ul>
                              <ng-container 
                              *ngFor="let cp of getContactPersons(owner).controls; let j = index" 
                              [formGroupName]="j">
                                <li> {{ cp.get('name')?.value }} as {{ cp.get('role')?.value }}</li>
                              </ng-container>
                            </ul>
                          </ng-container>
                          <ng-template #loadCp>
                            <nz-spin nzSimple nzSize="small"></nz-spin>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <span (click)="removeCust(i, 'owner')" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="text-center" colspan="3">
                    <button nz-button nzType="primary" class="w-75" (click)="addCustomer('owner')">Add Owner</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span class="fw-bold">Architect</span>
                  </td>
                </tr>
                <ng-container formArrayName="architect">
                  <tr *ngFor="let architect of architects.controls; let i = index" [formGroupName]="i">
                    <td>
                      <ng-container *ngIf="!isLoadingCustomerList; else loadCustomerArr">
                        <nz-form-control>
                          <nz-select nzShowSearch nzPlaceHolder="Select Customer" formControlName="customer_id">
                            <nz-option
                              *ngFor="let cust of customers"
                              [nzLabel]="cust.name"
                              [nzValue]="cust.id"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="architect.get('customer_id')?.value !== ''">
                        <ng-container formArrayName="contact_person">
                          <ng-container *ngIf="architect.get('isLoadingCp')?.value === false; else loadCp">
                            <ul>
                              <ng-container 
                              *ngFor="let cp of getContactPersons(architect).controls; let j = index" 
                              [formGroupName]="j">
                                <li> {{ cp.get('name')?.value }} as {{ cp.get('role')?.value }}</li>
                              </ng-container>
                            </ul>
                          </ng-container>
                          <ng-template #loadCp>
                            <nz-spin nzSimple nzSize="small"></nz-spin>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <span (click)="removeCust(i, 'architect')" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="text-center" colspan="3">
                    <button nz-button nzType="primary" class="w-75" (click)="addCustomer('architect')">Add Architect</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span class="fw-bold">Contractor</span>
                  </td>
                </tr>
                <ng-container formArrayName="contractor">
                  <tr *ngFor="let contractor of contractors.controls; let i = index" [formGroupName]="i">
                    <td>
                      <ng-container *ngIf="!isLoadingCustomerList; else loadCustomerArr">
                        <nz-form-control>
                          <nz-select nzShowSearch nzPlaceHolder="Select Customer" formControlName="customer_id">
                            <nz-option
                              *ngFor="let cust of customers"
                              [nzLabel]="cust.name"
                              [nzValue]="cust.id"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="contractor.get('customer_id')?.value !== ''">
                        <ng-container formArrayName="contact_person">
                          <ng-container *ngIf="contractor.get('isLoadingCp')?.value === false; else loadCp">
                            <ul>
                              <ng-container 
                              *ngFor="let cp of getContactPersons(contractor).controls; let j = index" 
                              [formGroupName]="j">
                                <li> {{ cp.get('name')?.value }} as {{ cp.get('role')?.value }}</li>
                              </ng-container>
                            </ul>
                          </ng-container>
                          <ng-template #loadCp>
                            <nz-spin nzSimple nzSize="small"></nz-spin>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <span (click)="removeCust(i, 'contractor')" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="text-center" colspan="3">
                    <button nz-button nzType="primary" class="w-75" (click)="addCustomer('contractor')">Add Contractor</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span class="fw-bold">MEP Consultant</span>
                  </td>
                </tr>
                <ng-container formArrayName="consultant">
                  <tr *ngFor="let consultants of consultants.controls; let i = index" [formGroupName]="i">
                    <td>
                      <ng-container *ngIf="!isLoadingCustomerList; else loadCustomerArr">
                        <nz-form-control>
                          <nz-select nzShowSearch nzPlaceHolder="Select Customer" formControlName="customer_id">
                            <nz-option
                              *ngFor="let cust of customers"
                              [nzLabel]="cust.name"
                              [nzValue]="cust.id"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="consultants.get('customer_id')?.value !== ''">
                        <ng-container formArrayName="contact_person">
                          <ng-container *ngIf="consultants.get('isLoadingCp')?.value === false; else loadCp">
                            <ul>
                              <ng-container 
                              *ngFor="let cp of getContactPersons(consultants).controls; let j = index" 
                              [formGroupName]="j">
                                <li> {{ cp.get('name')?.value }} as {{ cp.get('role')?.value }}</li>
                              </ng-container>
                            </ul>
                          </ng-container>
                          <ng-template #loadCp>
                            <nz-spin nzSimple nzSize="small"></nz-spin>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <span (click)="removeCust(i, 'consultant')" nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ED0000'"></span>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="text-center" colspan="3">
                    <button nz-button nzType="primary" class="w-75" (click)="addCustomer('consultant')">Add Consultant</button>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </nz-tab>
      </nz-tabset>

    </form>
</div>

<div *nzModalFooter>
  <nz-form-item>
    <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
    <button 
    nz-button 
    nzType="primary" 
    class="text-capitalize" 

    (click)="submitForm()">
      {{ modal_type }} Project
    </button>
  </nz-form-item>
</div>

<ng-template #loadCustomerArr>
  <nz-form-control>
    <nz-select nzShowSearch nzPlaceHolder="Loading..." nzDisabled>

    </nz-select>
  </nz-form-control>
</ng-template>