<div class="d-flex flex-column gap-2">
    <nz-avatar [nzSize]="64" nzText="K" class="custom-avatar mb-3"></nz-avatar>
    <div>
        <p class="m-0 p-0 fw-semibold">PIC</p>
        <p class="fw-light">Sales 1</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Name</p>
        <p class="fw-light">Kevin Hidayat</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Email</p>
        <p class="fw-light">JohnBrow@gmail.com</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">NIK</p>
        <p class="fw-light">212312312</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Address</p>
        <p class="fw-light">Jalan Beruang II</p>
    </div>
    <div>
        <p class="m-0 p-0 fw-semibold">Status</p>
        <nz-tag [nzColor]="status ? '#1DA32C' : '#f50'">{{ status ? 'Active' : 'Inactive' }}</nz-tag>
    </div>
</div>

    
