<div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="fw-bold">Purchase Order List</h4>
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" style="width: 320px;">
        <input [(ngModel)]="search" (ngModelChange)="searchHandler($event)" type="text" nz-input placeholder="Search Inventory" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
</div>
<div class="d-flex align-items-center justify-content-between mb-3">
    <span class="fw-light">Result of {{ totalInventories}} Purchase Order</span>
    <div class="d-flex">
        <div class="me-2">
            Rows per page: 
            <nz-select [(ngModel)]="pageSize" (ngModelChange)="getInventory()">
                <nz-option nzLabel="5" [nzValue]="5"></nz-option>
                <nz-option nzLabel="10" [nzValue]="10"></nz-option>
                </nz-select>
        </div>
        <button (click)="refreshTable()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="reload"></span></button>
        <button (click)="showFilter()" class="me-2 filter-icon" nz-button nzType="default" nzSize="default"><span nz-icon nzType="filter"></span></button>
        <button  nzSize="default" nz-button nzType="primary" (click)="showModalAdd()">Add Purchase Order</button>
    </div>
</div>
<ng-container *ngIf="inventory$ | async as cust; else loading">
    <nz-table 
        #basicTable 
        [nzData]="cust.data"         
        [nzShowPagination]="true" 
        nzBordered
        [nzTotal]="totalAll"
        [nzPageSize]="pageSize"
        [nzPageIndex]="currentPage"
        (nzPageIndexChange)="pageIndexChange($event)"
    >
        <thead>
          <tr>
            <th>Date</th>
            <th>Order No</th>
            <th>Supplier Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>27 September 2024</td>
              <td>P0001</td>
              <td>PT Segitiga Biru</td>
              <td>Pembelian pipa</td>
              <td>Rp. 5,000,000</td>
              <td>
                <nz-tag [nzColor]="data.status === 1 ? '#1DA32C' : '#f50'">{{ data.status === 1 ? 'Open' : 'Approved' }}</nz-tag>
              </td>
            <td>
                <div class="d-flex gap-3">
                  <span (click)="showModalDetail(data)" nz-icon nzType="eye" nzTheme="twotone"></span>
                    <span (click)="showModalEdit(data)" nz-icon nzType="edit" nzTheme="twotone"></span>
                    <span (click)="showModalDelete(data.id)" nz-icon nzType="delete" nzTheme="twotone"></span>
                </div>
            </td>
            </tr>
        </tbody>
      </nz-table>
</ng-container>

<ng-template #loading>
    <nz-table #basicTable nzBordered>
        <thead>
          <tr>
            <th>Date</th>
            <th>Order No</th>
            <th>Supplier Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </nz-table>
</ng-template>
